[2016-09-22 12:36] ericvergnaud commented on #1159
The official site is http://www.antlr.org

[2016-09-23 01:13] BurtHarris commented on #1275
Thanks @ericvergnaud  for the comment above on building test cases.   Am I correct in finding no docs on writing runtime tests?

It seems like test-case creation really needs serious polyglot; the `.stg` are like Greek to me.    Yes, I've read the StringTemplate docs at least twice, but wrapping my head around this test mechanism, with no comments to speak of, looks like the hardest part of contri

[2016-09-23 05:12] ericvergnaud commented on #1275
Hi
I will try to write a how-to shortly
Eric

Envoyé de mon iPhone

[2016-09-23 15:43] ericvergnaud commented on #1275
Hi,

actually, there is already a doc, here:
https://github.com/antlr/antlr4/blob/master/doc/adding-tests.md

.stg files are String Template Groups. The StringTemplate library is key to ANTLR since it is used to generate lexers and parsers from the grammar structure. To learn more about StringTemplate, read here: http://www.stringtemplate.org

Good luck

[2016-09-23 20:18] parrt commented on #1258
Fixed by https://github.com/antlr/antlr4/pull/1268

[2016-09-23 20:18] #1258 closed

[2016-09-23 22:25] parrt commented on #1260
Hmm... is it just me or is github not closing issues automatically anymore? Anyway, closed by https://github.com/antlr/antlr4/pull/1261

[2016-09-23 22:25] #1260 closed

[2016-09-24 10:35] mikij commented on #1159
So to conclude this issue all docs that is relevant for JavaScript target is at this url [https://github.com/antlr/antlr4/blob/master/doc/javascript-target.md](url)

[2016-09-24 10:35] #1159 closed

[2016-09-24 16:46] BurtHarris commented on #1260
@part, I think this is because I didn't know the magic incantation to make it happen.   Since you mention it, I found this:  https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-09-24 17:36] BurtHarris opened #1291 "Running a limited subset of runtime-testsuite"
As the set of target runtimes and test cases grows, the time-complexity of running  `runtime-testsuite` using `mvn install` increases O(M*N).   To speed up the dev cycle for someone working on a particular target, it seems like we need a documented way to run a subset of the test cases, e.g. run only the JavaScript test cases.

Similarly when debugging a particular test failure, it is often useful

[2016-09-24 18:16] parrt commented on #1260
Yeah, it always used to work for me but now it is not.  I must be doing something weird with branches or something.

[2016-09-24 18:30] BurtHarris commented on #1260
No, @parrt, you misunderstand.   I think is because I didn't put the right keywords in my commit comment.

[2016-09-24 18:50] parrt commented on #1260
ok, but i have "Fixes #xxx" in a number of recent msgs only to have it not close issue.

[2016-09-25 01:47] ericvergnaud commented on #1291
Hi,

once the tests are generated, from your favourite IDE you should be able to run a subset of them.

Eric

[2016-09-25 11:20] renatahodovan commented on #1252
@robinkjoy: yeah, there is already a PR submitted to fix this: https://github.com/antlr/antlr4/pull/1172

[2016-09-25 18:27] parrt commented on #1269
Ok, yeah, i'll try to improve this on my next pass through ANTLR-land. Oct/Nov.

[2016-09-25 19:06] KvanTTT commented on #1269
All ANTLR dependencies you can explore in travis-ci file: [.travis.yml](https://github.com/antlr/antlr4/blob/master/.travis.yml). I think that [AppVeyor](https://www.appveyor.com/) CI system also can be integrated into ANTLR for testing on Windows (testing issues with invalid paths etc.).

[2016-09-25 20:30] BurtHarris commented on #1269
Thanks, I'll look into AppVeyo CI, see if I can make sense of it.

[2016-09-25 23:10] BurtHarris commented on #1269
I've had some success getting AppVeyor CI build ANTLR4 on Windows, and with some tweaking the tests seem to be working as well.

The 12K line log spew makes me unsure if it is really a healthy test pass, perhaps someone who knows runtime-tests better can review:  https://ci.appveyor.com/project/BurtHarris/antlr4/build/16

[2016-09-25 23:13] jeffreyguenther commented on #945
+1 to @lspicer's question. @hanjoes and @janyou how is your work coming along? Is there anything we, the community, can do to help?

I have time I can devote to working on the target. I'm not a Swift or XCode expert, but I'm keen to see this target completed as I have a project that'd I'd like to do with it. 😄 So I'm willing to chip in to do whatever is necessary.

Once the Swift target is built,

[2016-09-25 23:51] hanjoes commented on #945
I would also happy to see the Swift target got shipped with the future ANTLR releases.

@janyou was the one getting most of the work done for the current Swift target.
I worked on a small patch to enable ANTLR to support language idioms like those in Swift.

 I think the we might need @parrt to decide how/when the Swift target is merged into the ANTLR mainline.

[2016-09-26 00:01] jeffreyguenther commented on #945
Ya, Terence will be the one who decides. I think there is some work we can do in the meantime to make it easy for him to accept the pull request.

Is your patch a nice-to-have or something required for the Swift target? The reason I ask is because building the target is a big chunk of work and getting the patch in place might be something done best as enhancement after the first version of the tar

[2016-09-26 00:05] jeffreyguenther commented on #945
Also, I noticed that janyou's implementation changes the ATN serialization to JSON. I'm not sure that's going to fly with Terence as it's not a change to make the target more idiomatic.

[2016-09-26 00:15] hanjoes commented on #945
I agree with you.

I tried to use @janyou 's implementation but got stuck on the generated code, since right now ANTLR doesn't seem to support language idioms that put type decl after the variable definition.

But anyways, it takes time to re-organize/re-write the current Swift implementation and my little patch will no way be the blocker. So it's a good idea to push the process forward.

[2016-09-26 01:29] jeffreyguenther commented on #945
Hmm. That doesn't seem quite right that the wrong code is output. Unless I'm missing something, we should be able to write the Swift code in whatever way we want using StringTemplate. As long as the right data is available, we can reformat it however we need to generate the Swift code.

In any case, we'll tackle it when it comes up. Next, we need to decide where to do this work. I think it makes t

[2016-09-26 01:46] jeffreyguenther commented on #945
@janyou do you have any objection with @hanjoes and I using your code as the foundation for our effort? I'd like to avoid us duplicating the work you've already completed.

[2016-09-26 02:25] jeffreyguenther commented on #945
Did a little research this evening:

Swift [uses an extended version of CommonMark for documentation](http://useyourloaf.com/blog/swift-documentation-quick-guide/)
If we use a tool called [jazzy](https://github.com/realm/jazzy), we'll generate docs in a similar style to Apple's developer docs.

[2016-09-26 02:26] jeffreyguenther commented on #945
@parrt I think I'm ready for that Skype overview if you're still willing to give it.

[2016-09-26 02:27] janyou commented on #945
I welcome you to contribute to the ANTLR Swift Target project and You are free to use my code.
I also want someone to finish the merge.

The main job is to merge the test templates. The following points for reference:

1.CompositeParsers/DelegatorRuleOverridesLookaheadInDelegate.stg

**Other  target**
[code]

**Swift target**
[code]

**Difference**:
`init` -> `initIt`
note:  `init` is a reserved w

[2016-09-26 08:29] danielsun1106 commented on #499
@parrt @sharwell
Hi Terence, Sam
Is it possible to make DFAState.edges hold SoftReference<DFAState> instances and make PredictionContextCache have some cache eviction policy(e.g. LRU)?

[2016-09-26 08:29] danielsun1106 commented on #499
@parrt @sharwell
Hi Terence, Sam
Is it possible to make DFAState.edges hold SoftReference<DFAState> instances and make PredictionContextCache have some cache eviction policy(e.g. LRU)?

[2016-09-26 19:52] sharwell commented on #499
@danielsun1106 It would be difficult to use a cache eviction policy for `PredictionContextCache` that only partially clears it. One purpose of the cache is to reduce the number of times these instances get referenced.

The use of `SoftReference` instances in `DFAState.edges` would result in a 30-byte memory overhead *per edge* in the DFA relative to what we have now (54 bytes on 64-bit JVMs where

[2016-09-27 00:05] danielsun1106 commented on #499
IMO, the increased memory usage because of the use of SoftReference could be accepted than the OutOfMemoryError :)
As of the cache eviction policy, I tried to replace the default cache with the LRU  cache based on guava while developping the Groovy parser about some months ago, but the performance was not much improved...

@sharwell
Sam, could you help me to confirm whether PredictionContextCache

[2016-09-27 00:05] danielsun1106 commented on #499
IMO, the increased memory usage because of the use of SoftReference could be accepted than the OutOfMemoryError :)
As of the cache eviction policy, I tried to replace the default cache with the LRU  cache based on guava while developping the Groovy parser about some months ago, but the performance was not much improved...

@sharwell
Sam, could you help me to confirm whether PredictionContextCache

[2016-09-27 11:20] sharwell commented on #499
@danielsun1106 There can easily be hundreds of thousands or even millions of `DFAState` instances, so the difference could be hundreds of MiB in a running application. A `PredictionContext` is a key element of an `ATNConfig` instance, and a `DFAState` has one or more `ATNConfig` in it (aside from `DFAState.EMPTY`). These instances are required for the ability of the parser to resume DFA constructi

[2016-09-27 12:52] danielsun1106 commented on #499
@sharwell
While developping the Groovy parser, I used both version of Antlr4(reference release and your optimized release), which both have the OutOfMemoryError if we do not clear cache or recreate cache.

When we try to apply two-stage parsing strategy, the reference release hangs but the optimized release is quite efficient, which is very impressive to me.

It's pity that the optimized release h

[2016-09-27 18:38] parrt commented on #945
I'm hoping to get back to antlr stuff Oct/Nov 2016

[2016-09-28 04:21] harriman opened #1295 "$e.v yields incorrect value 0 in "e returns [int v] : '1' {$v = 1;} | '(' e ')' {$v = $e.v;} ;""
The incorrect result can be seen in the Interactive Calculator example (actions/tools/Expr.g4) in chapter 10 of the ANTLR4 book, page 181, in which parenthesized expressions always yield 0.

When a rule invokes itself recursively, and no label is used, incorrect code is generated when an action references either a variable returned by the recursive call, or any of the subexpression's predefined at

[2016-09-28 18:07] haridwar-jha commented on #147
Hi,
  I want to generate parse tree that is generating in eclipse parse tree diagram. How can I generate that type of tree.
??
![parse_tree](https://cloud.githubusercontent.com/assets/20932577/18926195/836895c8-85d4-11e6-9ece-9ee2f3358481.png)

[2016-09-29 13:30] ericvergnaud commented on #147
Hi,

this is not the place for support, please join the google discussion group and close this.

Eric

[2016-09-30 08:01] lionelplessis opened #1298 "Single-token deletion error node not in parse tree"
Hi there,

When single-token deletion kicks in and skips a token in a rule with alternative labels (it entered the rule but didn't find the alternative yet) the error node that is created is not attached to the parse tree. If the extra token is present after a valid rule alternative is found then the error node representing the token is correctly present in the parse tree.

This is due to the Pars

[2016-10-03 07:52] TAGC commented on #1142
Hey, I'm porting a project containing an ANTLR4 grammar from .NET Framework to .NET Core. For the .NET Core version of this project, I've referenced the latest prerelease version (v4.5.3.1-beta001) and it restores this successfully. However, I'm wondering if there's a way yet to do code-gen from the grammar file (i.e. @natemcmaster's second point). Or should I just copy the generated files from th

[2016-10-04 01:14] marcospassos opened #1299 "Matched tokens being marked as error"
I found a case where the parser is marking matched tokens found inside error nodes as an error. For instance, given the malformed expression `1 * 2 +++`, this is the resulting tree:

![antlr4_parse_tree](https://cloud.githubusercontent.com/assets/943036/19059272/fbd9c52a-89b4-11e6-96f1-58314aa28204.png)

However, it's the expected tree:

![image](https://cloud.githubusercontent.com/assets/943036/1

[2016-10-04 02:29] marcospassos commented on #1298
I can confirm diverging results from the IntelliJ plugin and TestRig, see #1299.

[2016-10-04 02:32] marcospassos commented on #1298
ping @parrt

[2016-10-04 19:42] parrt commented on #1298
Hi. I hope to return to ANTLR early Nov after I finish teaching, present a paper at a conference.

[2016-10-05 00:27] ewanmellor commented on #945
I have created a branch here: https://github.com/ewanmellor/antlr4/tree/swift-target

This has the current antlr/antlr4 master branch, but I've added the changes from @janyou mentioned on Dec 31 2015, from https://github.com/janyou/Antlr-Swift-Runtime and https://github.com/janyou/ANTLR-Swift-Target.

Most tests pass, a few fail.  I'm also sure a few of these changes won't fly as-is, since it look

[2016-10-05 00:53] jeffreyguenther commented on #945
@ewanmellor Did you keep the JSON ATN serialization in your branch?

[2016-10-05 00:57] ewanmellor commented on #945
@jeffreyguenther I just copied janyou's code.  I don't know what ATN serialization is (I'm new to Antlr).  Can you tell me what I should be looking for?

[2016-10-05 01:02] jeffreyguenther commented on #945
I think the easiest way to find it is to search for “json” in your editor. janyou tweaked the ATN serialization to output JSON rather than keeping with ANTLR’s normal approach. JSON might be nice to have, but I don’t think Terence will go for the difference from the rest of ANTLR.

ATN stands for augmented transition network <https://theantlrguy.atlassian.net/wiki/display/~admin/2011/04/17/These+a

[2016-10-05 01:22] janyou commented on #945
@ewanmellor Please refer to [Manually build](https://github.com/janyou/ANTLR-Swift-Target/blob/master/ManuallyBuild.md) and [Run Runtime Testsuite](https://github.com/janyou/ANTLR-Swift-Target/blob/master/RuntimeTestsuite.md

[2016-10-05 01:33] ewanmellor commented on #945
@janyou Yes, I have copied all those instructions, and applied them to my branch.

[2016-10-05 01:48] ewanmellor commented on #945
@jeffreyguenther Yes, I see it.  Yes, that's all still in there from janyou's code.  It'll need entirely rewriting by the looks of it.

I'm not going to get to this for at least a week, probably more.  Patches welcome!

[2016-10-05 08:55] lionelplessis commented on #1298
Hi, thanks @marcospassos for confirming one problem; thanks @parrt for the info and labelling this ticket, looking forward to Nov then. And good luck with your paper 😃.

[2016-10-06 19:49] harriman commented on #1295
Seems to be the same problem as #571. Fix #630 did not actually fix it.

[2016-10-07 10:33] alovassy opened #1300 "Token names are in wrong position in lexer.getRuleNames()"
I try to get the token names using the generated ...Lexer.java like this:
tokenType == -1 ? "EOF" : lexer.getRuleNames()[ tokenType - 1 ]

Sometimes the lexer rule names are in wrong position.
These are the 2 problematic cases, when the lexer rule name positions are modified:
1. fragments are not tokens, but they are listed in ruleNames[]
2. tokens, which are defined, but has no rule are not liste

[2016-10-07 10:44] sharwell commented on #1300
This was fixed by adding the `Vocabulary` interface in release 4.5. See #711.

[2016-10-11 15:55] pboyer commented on #659
@parrt All of the 4.5.2 tests now pass with this change:

https://github.com/pboyer/antlr4/pull/64

There will be more work to synchronize with antlr/antlr4 and clean up, but expect a PR for the Go language target soon. :)

[2016-10-11 16:02] parrt commented on #659
woot!

[2016-10-12 07:12] mike-lischke commented on #659
@pboyer Does this include tests for all other targets? Did you change anything in the test setup (template file etc.) that would need to be considered by the other language targets?

I'm working currently on the C++ target and had to change a few things which affects testing all other targets (this has mostly to do with additional parameters required for the code template), so I'd much appreciate

[2016-10-12 09:53] nielsbasjes opened #1302 "Allow retrieving the underlying original input."
The ParseTree.getText() method returns the concatenation of all the tokens that are used in a specific ParseTree. In there the skipped characters have been removed in the lexer.

In some specific cases there is a need to get the underlying full (unmodified) source text including all the characters that were skipped (i.e. spaces, comments and such).

I propose a new method getSourceText to provide

[2016-10-12 14:01] pboyer commented on #659
Hi @mike-lischke We tried to avoid changing the test templates very much. So, I don't think this should be a problem. Thanks for the heads up, though.

[2016-10-13 07:33] nielsbasjes commented on #1302
To give you some insight [my use case:](https://github.com/nielsbasjes/yauaa) I need this is a situation where I use Antlr4 to do pattern detection in text and when a pattern is found I need to extract the original that has been matched.

[2016-10-13 19:07] parrt commented on #1209
Note to self: See email from Alexander Fri, 20 May 2016 14:44:27 +0300 Subject: Weird behaviour/bug in ANTLR4

[2016-10-15 15:43] jingweno commented on #659
@pboyer Awesome! When will the Go target be ready?

[2016-10-15 17:39] pboyer commented on #659
@jingweno All of the language tests run in github.com/pboyer/antlr4. Right now, I'm just trying to make the API as idiomatic and consistent I can before submitting the PR. The system is very usable at this point if you build from source.

[2016-10-15 19:39] rmbarnett-rice opened #1307 "XPathLexer.java missing from src?"
When compiling:

antlr4-master\runtime\Java\src

I get the following compilation error:

antlr4-master\runtime\Java\src\org\antlr\v4\runtime\tree\xpath\XPath.java:

Error:(87, 17) java: cannot find symbol
  symbol:   class XPathLexer
  location: class org.antlr.v4.runtime.tree.xpath.XPath

[2016-10-16 13:24] ericvergnaud commented on #1307
Hi,
you are missing the maven build step which generates these files.
Eric

[2016-10-17 14:04] lextm opened #1308 "ANTLR 4 C# compilation failed with System.IO.FileNotFoundException"
[MSBuild_834cb7d1-788a-4941-8d7b-6fa3ce4588de.failure.txt](https://github.com/antlr/antlr4/files/533662/MSBuild_834cb7d1-788a-4941-8d7b-6fa3ce4588de.failure.txt)

Attached is the build log in Visual Studio 15 Preview 5. Not sure if this is an MSBuild issue though.

Currently no workaround has been found by me.

[2016-10-17 22:49] ericvergnaud commented on #1308
HI
Support is provided on the Google discussion group.
Please close this.
Eric

Envoyé de mon iPhone

[2016-10-19 06:47] #1308 closed

[2016-10-19 18:26] parrt opened #1309 "Grammar.getMaxTokenType() is wrong!"
This is being used for two things: size and max token type. for size it's good. for max token type it is 1 too small!

[code]

Note that Recognizer.getTokenTypeMap() should refer to vocab get max type not `getATN().maxTokenType` anyway.

I found this because i couldn't find the display name for last token type via vocabulary.

[2016-10-25 06:45] a-nigredo opened #1310 "ExprLexer/ExprParser not found"
Hi
I created maven project with dependencies antlr4, antlr4-runtime and plugin antlr4-maven-plugin in Intellij Idea but when I try to run simple application like
`public class Application {
    public static void main(String[] args) throws Exception {
        ANTLRStringStream in = new ANTLRFileStream("D:\\java\\antlr\\src\\main\\java\\dev\\nigredo\\run.s");
        ExprLexer lexer = new ExprLexer

[2016-10-27 09:52] dhmhgre opened #1312 "returns directive generates improper C# code"
Hi

I am testing one of the examples of book the The definitive ANTLR4 Reference which is in page 183-185.
The code i wrote is

[code]
    )* '\r'? '\n'
  ;
[code]

The problem is with the return directive of the "row" rule (returns [Dictionary<string,string> values]). It generates in Visual Studio 2015 the following improper code. I have already test a lot of things but it still doesn't work. In

[2016-10-27 15:38] ericvergnaud commented on #1312
Hi,
are you using the version from the antlr web site or the one from nugget ?
Eric

[2016-10-27 16:01] dhmhgre commented on #1312
Hi i guess i am using the ANTLR from nuget if i am understanding the
first few lines of .csproj file.

I used the nugget during the creation of the project and i haven't
download ANTLR from the site.

I am attaching you the csproj msbuild file that i use.

On 27/10/2016 6:38 μμ, ericvergnaud wrote:

﻿<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" DefaultTargets="Build" xmlns="

[2016-10-27 16:56] Katona opened #1313 "Lexer members in JavaScript target"
Consider the following lexer grammar:

[code]

This generates `member` as a global variable so it keeps the state between different invocations of separate lexer instances which causes problems. As a workaround, I put the desired variable onto the lexer instance dynamically before using it, like:
[code]
Is there a better solution?

[2016-10-27 17:16] ericvergnaud commented on #1313
Hi,
not at this point.
'this' in JavaScript behaves very differently from Java or C#, so it would be hard to reach that member from where you need it (i.e. a rule context).
fortunately, with dynamic languages it is not blocking
also the preferred strategy is to use listeners/visitors rather than embed code in the grammar.
Eric

[2016-10-28 12:58] Katona commented on #1313
Ok, thanks. I use listeners, unfortunately I am using one variable for calculating when to switch lexer modes. Maybe I should try to get rid of that.

[2016-10-28 12:58] #1313 closed

[2016-10-28 13:21] ericvergnaud commented on #1313
Ok,
for this scenario, best is to derive your parser using the superClass option
then in your grammar you can use $parser to refer to the current parser/lexer instance
(I have not tried this with a derived lexer though°
Eric

[2016-11-02 11:04] JoeyAcc opened #1315 "<EOF> error when generating parser"
I need an XQuery parser, so I copied and then massaged the official grammar.
However, I get this error:
[code]

I have no idea how to get rid of the error, I tried looking at all the rules containing single and double quote literals, which could presumably make a difference here.
So either I'm doing something wrong, which is entirely possible, or I've discovered a bug in ANTLR4.

I created a [gist

[2016-11-02 12:08] ericvergnaud commented on #1315
Hi
This discussion would be better located on the Google discussion group.
Eric

Envoyé de mon iPhone

[2016-11-03 16:05] Nulleye opened #1317 "ANTLR 4.5.3 & java.lang.StackOverflowError"
I can't use the complete 4.5.3 jar as the "ANTLR tool" in Eclipse, the jar manifest seems to be incorrect,
I can use the 4.5 jar with no problems.

However, my problem is, If I define a lexer and a composed grammar with multiple related grammar files, to avoid error and warning tips to appear in Eclipse, I have to put "imports " to lexer and related grammar files in every grammar file, but If I do

[2016-11-03 16:10] ericvergnaud commented on #1317
Hi,
the best place to get support is the google discussion group.
Eric

[2016-11-03 20:37] sharwell opened #1318 "Array2DHashSet.clear does not reset threshold"
Currently the implementation of `Array2DHashSet.clear` does not set the value of the `threshold` field. If one of these sets is reused after calling `clear()`, it's likely that a large number of hash collisions will occur when the set is used again.

[2016-11-04 07:37] Nulleye commented on #1317
ok, sorry
thanks

[2016-11-04 08:27] Nulleye commented on #1317
Sorry to reopen this, just a small comment.
For what I see in the code, circular imports are not supported in ANTLR?
loadImportedGrammars() gets into an infinite loop in that circumstance.

[2016-11-04 11:25] ericvergnaud commented on #1317
Hi
The answer would be useful to more people on the Google group
Eric

Envoyé de mon iPhone

[2016-11-04 11:52] Phmager commented on #1254
Me too.

[2016-11-04 12:07] Phmager commented on #1286
Is there some way I can help?

[2016-11-04 12:23] ericvergnaud commented on #1286
Certainly, you could:
 - create a TypeScript runtime by cloning the JavaScript one.
 - implement the TypeScript target in the tests generator so you have a good place to start, and automatically validate your progress.
 - implement the TypeScript target in the antlr tool, with the corresponding target language templates (.stg files).
 - enhance the yaml file for Travis CI.
Once all this runs with

[2016-11-04 13:18] parrt opened #1319 "initial discussion to start integration of new targets"
As promised, I am now ready to integrate the new ANTLR target languages you folks have been working on. This issue is meant to get everybody in sync, check status, and discuss the proper order of integration and resolve issues etc.

There are two administrative details to get out of the way first:

1. Please let me know if there is another github user that should be added to one of the categories.

[2016-11-04 13:46] sufail opened #1320 "Parsing Slow like any thing."
In my source file, I have a string like this. String  span across around 200 lines.
String payload =
                "<AbsencesApprovalsRequest xmlns=\"http://xmlns.oracle.com/apps/hcm/globalAbsences/approvals/model/entity/events/schema/AbsencesApprovalsEvent\">" +
                "<TransactionId>" + transactionId + "</TransactionId>" +
                "<Requestor>" + requestor + "</Requestor>" +

[2016-11-04 14:14] Phmager commented on #1286
What about @BurtHarris fork and branch tsMigration? https://github.com/BurtHarris/antlr4/tree/tsMigration

[2016-11-04 14:18] sharwell commented on #1286
@Phmager I believe @BurtHarris has made substantial progress on this in the past month but hasn't published an update yet. More information should be available soon.

[2016-11-04 14:21] mike-lischke commented on #1319
**ANTLR4 C++ target**

The C++ target is now in use (also in production environments) since several months. I haven't got many serious issues (or any type of issue for that matter), but received already a number of pull requests/contributions. Hence, I consider it stable enough for the upstream merge, even though there will be more changes (including in the API) as we continue optimizing it. All c

[2016-11-04 14:40] parrt commented on #1319
As C++ requires a few (ANTLR tool) model changes, I suggest we integrate it first and then try pushing changes to Go, Swift to see if it breaks anything.  I'm open to other targets going in first, if you guys think it'd be easier.

[2016-11-04 14:41] DanMcLaughlin commented on #1319
Makes sense to me

[2016-11-04 16:24] pboyer commented on #1319
I just opened a PR for the Go language target: #1321. PTAL.

I'll gladly follow @parrt's advice on merging the C++ target first. At this point, I'm mainly polishing and documenting. All tests pass and I've used it in prod for nearly a year = 1 billion runs.

[2016-11-04 16:36] parrt commented on #1319
great! integrating C++ will be the tough one. will keep you up to date

[2016-11-04 16:42] parrt commented on #1319
otoh, maybe I should use the easy targets to help me remember the details of target development. what do you guys think?

[2016-11-04 16:51] willfaught commented on #1319
It seems to me like the total amount of work for everyone would be less if
targets with the least amount of changes that affect other targets are
integrated first.

On Friday, November 4, 2016, Terence Parr <notifications@github.com> wrote:

[2016-11-04 16:54] mike-lischke commented on #1319
On the other hand all the required fixes would have to be done in the main repo, by the individual target writers, instead in their own repos and only the final result is merged.

[2016-11-04 16:56] willfaught commented on #1319
Each PR will have to be updated to match the new master anyway, right?

On Friday, November 4, 2016, Mike Lischke <notifications@github.com> wrote:

[2016-11-04 16:57] parrt commented on #1319
Hmm...we have model object and template changes. i'd like to get an idea of what the union of such changes for all targets would look like

[2016-11-04 17:14] parrt commented on #1319
Ok, a number of minor changes. @mike-lischke you need recognizer name also for rule functions etc... in C++, right? Will adds stuff like:

[code]

does that mess with your stuff?

[2016-11-04 17:15] parrt commented on #1319
some major changes too such as in StructDecl:

[code]

Are these required because of being specific about types in the generated Go code?

[2016-11-04 17:25] mike-lischke commented on #1319
Yes, exactly. Have to qualify entity names everywhere and hence need that recognizer name.

Looks good. No problem for me.

Mike
--
www.soft-gems.net

[2016-11-04 18:06] BurtHarris commented on #1286
Yes @Phmager, the branch above should be considered dead, but we are making progress on an alternative approach I think you will like.   More info soon.

[2016-11-04 18:12] BurtHarris commented on #1254
Good things come to those who wait.   I've been busy.

[2016-11-04 20:41] hanjoes commented on #1319
I believe the Swift target is almost at the same status when @janyou created it. There is some additional work needs to be done before it is ready for merge. @jeffreyguenther was actively trying to put things together maybe he will have a more thorough update for it.
I will be able to take a peek of the target during the weekend coming.

[2016-11-04 20:58] parrt commented on #1319
Ok, @hanjoes, thanks.

[2016-11-04 21:00] parrt commented on #1319
Ok, gang, I think we should proceed in small stages so each change to a model or template argument requirement can be easily integrated and tested by the target developers. It's also a way for me to centralize updates to the model to make sure they are generally useful and with an appropriate interface. I suggest as a first step I observe all targets for the introduction of the useful recognizerNa

[2016-11-04 21:04] parrt opened #1322 "make sure BSD license prefix is consistent and on all appropriate files"

[2016-11-04 21:14] parrt commented on #1319
Looking at https://github.com/ewanmellor/antlr4/tree/swift-target I don't see any model changes, which means no template argument changes. I'll focus on C++ / Go compatibility then.

[2016-11-05 00:13] janyou commented on #1319
TO Swift target developer:

**Current status**
The Swift target 's runtime testsuite has already been passed and  it supports Xcode 8(Swift 3.0).

**Main change**
The Swift target serializes ATN to JSON string.
The main reason to use JSON serialization is the ANTLR  original serialization will cause xCode to crash (Open the generated file and scroll).If you want to change back to the original seri

[2016-11-05 03:35] sharwell commented on #1319
@janyou Please see the comment regarding the proposed change to **ReferenceToATN.stg**

https://github.com/antlr/antlr4/blob/master/runtime-testsuite/resources/org/antlr/v4/test/runtime/templates/ParserExec/ReferenceToATN.stg#L1-L5

/**
 * This is a regression test for antlr/antlr4#561 "Issue with parser
 * generation in 4.2.2"
 * https://github.com/antlr/antlr4/issues/561
 */
[code]

[2016-11-05 03:42] sharwell commented on #1319
@janyou Regarding the proposed change to **MultipleAlternativesWithCommonLabel.stg**

I recommend a different approach than `OptionalValue`. Not all targets treat this as an optional value. In particular, the TypeScript target treats this as a required value (at least it does today). I recommend renaming the template to something like `<LabelAtIndex("e", 0)>`, which targets can implement as option

[2016-11-05 07:18] janyou commented on #1319
I agree with you, `OptionalValue` may not be a good name.

I made a mistake, Do as you say.

[2016-11-05 10:53] nodayoshikazu commented on #1213
Hi,
I am experiencing the same issue. Attached is a grammar snippet to reproduce this. Thanks.
-Yoshi
[m.txt](https://github.com/antlr/antlr4/files/573127/m.txt)

[2016-11-05 12:37] mike-lischke commented on #1319
The template changes need some extra work it seems. I also had to change a few of the test templates because they often use a dot for member reference, where in C++ I need an arrow. Hence I introduced a template for member access so that each target can have it's native syntax. This might conflict with changes like thie `OptionValue` template.

[2016-11-05 13:57] parrt commented on #1319
I'm examining targets. Swift has no model changes. I'm removing as many as possible from Go but generic model updates are going into my fork's branch https://github.com/parrt/antlr4/tree/model-updates-for-new-targets which when done should be union of C++ and Go model requirements.  It might require tweaks to all targets but I can do those.

[2016-11-05 14:07] sufail opened #1323 "Issue with Antlr4 Java 7 Grammar expression Parser rule"
I found this issue for the following input

public String publishAbsencesApprovalsEvent(Map<String,Object> absenceValues) {

// inside this method there is a pretty much long string which spans around 150 lines.

}

When I try to create a ParseTree for this input file, it's got hanged like forever. I guess there is a decision-making issue for the grammar for the below two rules.

typeArguments
: '

[2016-11-05 14:19] sharwell commented on #1319
@janyou thank you for keeping track of the changes. It is a huge help. I also need to update the comment in that test so it's more clear what is being tested. :)

[2016-11-05 14:55] parrt commented on #1319
Ok, I have Go target almost reduced to minimal model changes. working on generated file names now. Go needs stuff like foo_visitor vs FooVisitor like C++ and Java et al.  C++ needs header files which add .h extension vs just .cpp or .java etc...  Seems like we should delegate filename to the `Target` object or abstract it out into templates for each kind of output filename. E.g., Go has:

[code]

[2016-11-05 15:44] mike-lischke commented on #1319
@parrt putting that into the templates is probably the best solution, like done in the Go target. That gives most flexibility. We should probably also settle on a common format for template rule names (e.g. camel case, no underscore, starting with uppercase letter). Minor thing, but while you are at it ... :-)

Let me know when I should merge your temp branch to see what needs to be changed for C+

[2016-11-05 15:48] parrt commented on #1319
@mike-lischke i decided on specialization in Target so targets can use templates or the functions. I'm updating Go to just return name.toLowerCase()+"_parser.go".  Re naming, each target should really have control over case etc...  You can see the change to filename stuff here https://github.com/parrt/antlr4/commit/40e19e5d3751872d83365ce1ac3ad1c9e245973d

[2016-11-05 15:55] parrt commented on #1319
Ok, Go Target has no model changes now assuming I merge in my "union branch" in parrt/antlr4. @pboyer can you check this out https://github.com/pboyer/antlr4/tree/reduce-model-changes and merge into your master?  Then it should be a clean pull for me into antlr/antlr4.

If @mike-lischke confirms my "union branch" (common model changes) integrates ok, then i'll merge those small changes to master.

[2016-11-05 16:26] parrt commented on #1319
@mike-lischke: I incorporated in a single commit all changes needed to support generating header files. many fewer diffs with C++ target codegen now.

[2016-11-05 16:27] pboyer commented on #1319
@parrt Just checking on travis for your changes. I'll let you know when we're good: https://github.com/pboyer/antlr4/pull/83

[2016-11-05 16:28] parrt commented on #1319
@pboyer sounds good. almost there on Go! making great progress on merging C++ codegen/model changes into my "union branch"

[2016-11-05 16:42] parrt commented on #1319
@janyou your repo doesn't have the full structure of antlr4 so merging will be more complicated. I *think* I can keep your name on the commits by pulling into a new branch and then `git mv`ing into position.

Have you verified all of your committers have signed contributors.txt?

[2016-11-05 16:43] parrt commented on #1319
Ah. Looks like @janyou you yourself need to sign the contributors.txt ;)  Can you add a commit for that.

[2016-11-05 16:46] parrt commented on #1319
@artyom-razinov will have to sign contributors.txt as well before we can merge the runtime stuff.

[2016-11-05 16:52] parrt commented on #1319
Looks like my model-updates-for-new-targets branch doesn't affect existing targets and makes C++ repo look very similar as far as codegen stuff. I'll merge it into master and prep master for 4.6 release that will have new targets and any bug fixes (eventually)

[2016-11-05 18:11] ewanmellor commented on #1319
@parrt I have already had a go at getting @janyou's code into the structure of antlr4.  That's in https://github.com/ewanmellor/antlr4/tree/swift-target.

There's still a bunch of work that needs to be done on this code, as stated above and in Issue #945.  I feel like we need to break out these items into separate issues, because it's just overwhelming if we try and talk about all the problems at

[2016-11-05 18:26] parrt commented on #1319
@ewanmellor we should probably decide who is going to lead the effort to finish the target. If that's you, then we can just collaborate on your fork then pull into master when done.  I'll also need contributors.txt sorted out. :)

[2016-11-05 18:29] ewanmellor commented on #1319
@parrt contributors.txt is easy, I can do that.

I'm happy to organize, but I'm not going to have too much time, no more than a day a week, so if there's someone else who's going to be active on this then I'll step out of the way.

[2016-11-05 18:31] parrt commented on #1319
@ewanmellor ok, maybe @hanjoes can help out or take the lead with help from you guys?  Can you check to ensure all committers on your fork are in contrib? thanks!

[2016-11-05 19:49] parrt commented on #1319
So it looks like Go target is ready for integration. all tests pass with latest master including improved codegen model. shouldn't affect any other targets. Any objections to me integrating Go target first?

[2016-11-05 20:09] marcospassos commented on #1298
I've found more 5 cases where the tree generated by the IntelliJ plugin diverges from the one generated by the TestRig. In all cases, the results generated by the TestRig are much better by far.

[2016-11-05 23:07] parrt commented on #1319
Go has been integrated!

[2016-11-05 23:12] davesisson commented on #1319
Nice!

On Sat, Nov 5, 2016 at 4:07 PM Terence Parr <notifications@github.com>
wrote:

[2016-11-05 23:31] parrt commented on #1298
yikes! Can you help me narrow this down? I'm now back on ANTLR for least a few weeks. I just integrated the Go target code generation for example. Can you give me a simple grammar and small input? I will chase it to the end of the earth! @sharwell  would be interested as well, if there is an issue with the parser interpreter.

[2016-11-05 23:51] parrt commented on #1319
I just set version to 4.6-SNAPSHOT in antlr/antlr4 and updated test generation. Swift and C++ guys should grab that.

[2016-11-06 00:06] jeffreyguenther commented on #945
Thought we could have this discussion over here with all the different language targets being discussed in the new thread.

What do we need to do to get things ready for @parrt to merge the Swift target?

I think we should work off of @ewanmellor's fork since he's done all the copy and paste to put things in the right place. Let's make a list, divide the work, and finish this up.

[2016-11-06 00:27] marcospassos commented on #1298
Done!

https://github.com/antlr/intellij-plugin-v4/issues/180#issuecomment-258651443

[2016-11-06 01:38] janyou commented on #945
@sharwell's recommendations：

1.modify  MultipleAlternativesWithCommonLabel.stg
rename `OptionalValue`  to ?

2.modify Swift.test.stg
[code]

[2016-11-06 02:31] ewanmellor opened #1327 "Swift target does not build on JDK 6"
The Swift target at https://github.com/ewanmellor/antlr4/tree/swift-target does not currently build on JDK 6.  It is using java.lang.ProcessBuilder.Redirect, which was added in JDK 7.

I don't know if this is a problem for merging into mainline.  @parrt ?

[2016-11-06 02:44] ewanmellor opened #1328 "@janyou needs to sign contributors.txt"
@janyou, please submit a pull request adding yourself to contributors.txt.  This gives a license to The ANTLR Project to distribute your work.  This is required before your work on the Swift backend can be merged into master.

See https://github.com/ewanmellor/antlr4/commit/0a00ec981a0e7247a700fd8248b44d2e3d7fdddc for an example.

[2016-11-06 02:58] ewanmellor opened #1329 "Decide on the use of JSON serialization in the Swift target"
The Swift backend in https://github.com/ewanmellor/antlr4/tree/swift-target currently serializes to JSON rather than the existing ANTLR serialization.

Per @janyou this was done because the ANTLR original serialization will cause Xcode to crash (open the generated file and scroll).  I do not know which version of Xcode @janyou was using.

@parrt Do you want to take the JSON serialization (adding a

[2016-11-06 03:02] ewanmellor opened #1330 "Resolve the use of 'init' in the test targets for the Swift backend"
`CompositeParsers/DelegatorRuleOverridesLookaheadInDelegate.stg` uses the word `init`, which in Swift is a reserved keyword.  This causes problems with the Swift backend.  In the current code at https://github.com/ewanmellor/antlr4/tree/swift-target, the word has been renamed to `initIt`, but this changes the generation for all targets, and so is not acceptable in master.

[2016-11-06 03:10] davesisson commented on #1319
Just tried out building the new build.  I'm getting this exception:

org.antlr.v4.test.runtime.go.TestVisitors: Missing system property:antlr-go

Is there a doc I'm missing about how to get Go going?

[2016-11-06 03:13] ewanmellor opened #1331 "Change use of OptionalValue in Swift target"
From @sharwell: Regarding the proposed change to `MultipleAlternativesWithCommonLabel.stg` I recommend a different approach than OptionalValue. Not all targets have the concept of optional values treat this particular reference as an optional value. In particular, the TypeScript target treats this as a required value (at least it does today). I recommend renaming the template to something like `<L

[2016-11-06 03:19] ewanmellor commented on #1319
**Swift Target**

I have updated the branch at https://github.com/ewanmellor/antlr4/tree/swift-target.  I shall rebase this branch to 4.6-SNAPSHOT.  I have also enabled Travis builds for this branch at https://travis-ci.org/ewanmellor/antlr4.

I have created #1327, #1328, #1329, #1330, #1331 for the issues raised above.

I think I have fixed the issue with renaming ATN (https://github.com/ewanmell

[2016-11-06 03:19] ewanmellor commented on #945
**Swift Target**

I have updated the branch at https://github.com/ewanmellor/antlr4/tree/swift-target.  I shall rebase this branch to 4.6-SNAPSHOT.  I have also enabled Travis builds for this branch at https://travis-ci.org/ewanmellor/antlr4.

I have created #1327, #1328, #1329, #1330, #1331 for the issues raised above.

I think I have fixed the issue with renaming ATN (https://github.com/ewanmell

[2016-11-06 03:29] jeffreyguenther commented on #945
Nice work @ewanmellor! I was just in the process of doing some of this... Let me know when you finish up the rebase and I'll re-fork to tackle the issues I'm able to solve.

[2016-11-06 05:50] ewanmellor opened #1332 "Implement TreeNodeWithAltNumField for Swift target tests"
For the Swift target at https://github.com/ewanmellor/antlr4/tree/swift-target, we require an implementation of TreeNodeWithAltNumField in `runtime-testsuite/resources/org/antlr/v4/test/runtime/swift/Swift.test.stg`.

[2016-11-06 06:54] ewanmellor commented on #1330
Actually, this doesn't seem to cause a problem for other targets, because it's just the name of one of the grammar rules in the tests.  This file already uses `type_` rather than `type` as a name, to avoid this kind of a problem, so I've renamed `init` and `initIt` to `init_` to match.

[2016-11-06 06:54] #1330 closed

[2016-11-06 07:08] janyou commented on #1328
thanks

[2016-11-06 07:11] ewanmellor commented on #1328
Merged into https://github.com/ewanmellor/antlr4/tree/swift-target.

[2016-11-06 07:11] #1328 closed

[2016-11-06 07:16] janyou commented on #1319
@parrt Contributors.txt has  been sent to @ewanmellor and has been merged.

[2016-11-06 15:42] parrt commented on #1327
Hmm...If we can leave it as compatible with jdk 6 that would be nice. I don't think we have made an across-the-board requirement for jdk 7 yet.

[2016-11-06 15:43] parrt commented on #1329
Well, it would be better if it used the same serialization. People don't really need to look at the Lexer anyway. I certainly don't ;)

[2016-11-06 15:46] parrt commented on #1319
@davesisson  After I installed Go, I had to add the `bin` dir to my `PATH` and then start a new terminal before `go` woodwork from the command line, which probably also messes up `mvn` etc...

[2016-11-06 17:12] parrt opened #1337 "Add `sync()` calls back in for LL(1) decisions."
In https://github.com/antlr/antlr4/pull/991 we decided to remove `sync()` calls that were commented out. Per https://github.com/antlr/intellij-plugin-v4/issues/180 there is good reason to put back in.

Issue https://github.com/antlr/antlr4/issues/1298 is related and might go away with this fix.

[2016-11-06 17:44] parrt opened #1338 "`sync()` affects valid parse"
While resolving https://github.com/antlr/antlr4/issues/1337, I get:

TestLeftRecursion.testJavaExpressions_10, 11 fail with bad parse (input is valid) when I add

[code]

to template `LL1OptionalBlockSingleAlt`:

[code]

@pboyer heads up ;)

[2016-11-06 18:24] ewanmellor opened #1339 "Skip Swift tests on non-Mac platforms"
The Swift tests depend on Xcode (via xcrun) so there's no point trying to run them on non-Mac platforms.  We should skip them in that case.

[2016-11-06 19:04] #1337 closed

[2016-11-06 19:05] parrt commented on #1337
Note: this fix causes issue https://github.com/antlr/antlr4/issues/1338

[2016-11-06 19:42] parrt commented on #1298
I resolved the different error messages for this fix: https://github.com/antlr/antlr4/issues/1337

[2016-11-06 19:48] parrt commented on #1298
@lionelplessis can you try the attached 4.6 snapshot jar (unzip to get jar)? It should now give same error message but what about tree construction? Is it ok now for you?

[antlr-4.6-complete.jar.zip](https://github.com/antlr/antlr4/files/574061/antlr-4.6-complete.jar.zip)

[2016-11-06 19:57] parrt commented on #1209
Ok, I'm now working on this bug. Any chance you have a small(er) grammar and some input that exhibits the problem?

[2016-11-06 21:07] pboyer commented on #1338
Thanks @parrt. I'l take a look ASAP.

[2016-11-06 22:10] ewanmellor commented on #1339
Fixed in https://github.com/ewanmellor/antlr4/commit/98543a0734715570487fe5bad309b272fca30583

[2016-11-06 22:10] #1339 closed

[2016-11-07 08:54] ewanmellor commented on #1329
I've started with the switch back to the original ATN serialization.  The Swift deserializer isn't complete, so there's still work to do there before it will pass.  I am half-finished with this right now.

[2016-11-07 09:37] thraidh opened #1342 "antlr4-maven-plugin: code generated in wrong encoding"
antlr4-maven-plugin provides an option to specify the input encoding, but the output of the generator is always in the system default encoding.

If the default encoding of the project is different, this causes an uncompilable project.

I suggest that the output of the generator is always encoded in the project encoding.

Steps to reproduce:
- set project.build.sourceEncoding in you pom.xml to UTF-

[2016-11-07 10:51] jimidle commented on #1342
Might be better to specify in \unnnn notation?

On Mon, Nov 7, 2016 at 5:37 PM +0800, "thraidh" <notifications@github.com> wrote:

antlr4-maven-plugin provides an option to specify the input encoding, but the output of the generator is always in the system default encoding.

If the default encoding of the project is different, this causes an uncompilable project.

I suggest that the output of the

[2016-11-07 17:35] parrt commented on #1209
@Endeavourl I see input `(1=2+3)` gives ambiguity as you say. ANTLR plugin for intellij shows two interpretations:

<img width="1042" alt="screen shot 2016-11-07 at 9 30 06 am" src="https://cloud.githubusercontent.com/assets/178777/20068296/063bd1d8-a4cd-11e6-941a-29227e89365e.png">

The tree on left is the one chosen, which is correct. `+` has higher precedence than `=` so all is well. Any gramma

[2016-11-07 17:59] parrt commented on #1319
An update. @mike-lischke has given me green light to attempt C++ integration :)

[2016-11-07 21:40] Endeavourl commented on #1209
I thought that the order of alternatives in `vex` would give them strict precedence thus ruling out the second variant where `EQUAL` has higher precedence than `PLUS`. Did i misunderstand how this should work?

As for smaller grammar, as i said, i tried to minimize it and the ambiguity wouldn't reproduce that way. Even with full grammar the ambiguity is not easily reproduced and can appear and dis

[2016-11-07 21:51] parrt commented on #1209
You are correct, precedence *resolves* the ambiguity but you cannot remove a grammar ambiguity for *language* ambiguity.

Unless there is another issue, I'll close ok?

[2016-11-07 22:12] Endeavourl commented on #1209
Ok, i think i get what you're saying.
Anyway, you're the expect here and i'm really not, so close it if this works as intended.

Still, have you considered the way it (almost) randomly does or doesn't report the ambiguity for the same input? Or the way ambiguity disappears on the same vex rule just moved to a separate grammar? This behaviour seems very suspicious to me but maybe i just don't get s

[2016-11-07 22:13] parrt commented on #1209
Hmm...well, changing the grammar can introduce/remove ambiguity very easily so I'll call this intended behavior. thanks for the excellent report though!

[2016-11-07 22:13] #1209 closed

[2016-11-07 22:17] parrt commented on #1319
And....we have C++ https://github.com/antlr/antlr4/pull/1346  thanks so much to @mike-lischke @DanMcLaughlin @davesisson !!!

[2016-11-07 22:19] #1338 closed

[2016-11-07 22:40] marcospassos commented on #1299
@parrt can we get it merged for 4.6?

[2016-11-07 22:41] parrt opened #1347 "Refactor runtime test generation mechanism"
* separate out infrastructure code in Java.test.stg which generates unit tests in java
* separate out long members like classes, methods into actual java, go, python files and have another property of test that says "include support" code
* remove index.stg requirement, simply look for .stg files in subdirs
* ignore should generate comment in code not actual code; otherwise it requires new templat

[2016-11-07 22:43] parrt commented on #1299
are you sure this isn't an issue with the plug-in?

[2016-11-07 22:51] marcospassos commented on #1299
In fact no. When the panic mode strategy is activated, it consumes every token until a token present in the recovery set is found. However, it doesn't close the error condition - hence, when the next token is matched, it's created as an error token.

[2016-11-07 23:04] parrt commented on #1299
interesting.  So, again, the plug-in does a better job than the generated code. haha.

[2016-11-07 23:07] thraidh commented on #1342
You can also set `JAVA_TOOL_OPTIONS` to `-Dfile.encoding=UTF8` as a workaround.
Using `\uNNNN` notation for characters which are on your keyboard (like umlauts) is a bit counter-intuitive, especially if the maven plugin explicitly supports input encodings other than ASCII.

The correct fix would be to change https://github.com/antlr/antlr4/blob/master/antlr4-maven-plugin/src/main/java/org/antlr/mo

[2016-11-07 23:08] marcospassos commented on #1299
Yeah, I don't know what is happening exactly, may be machine learning. I'm thinking about creating a wrapper to run our parser through the IntelliJ once the results are more promising (Y)

[2016-11-08 11:28] lionelplessis commented on #1298
hi @parrt, 4.6 doesn't fix the tree. It makes it easier to create a simple grammar though (thanks to the ```sync()``` call in LL(1)). So here goes:
[code]

And test input: ```${ ? a ?}```

Gives correct error messages:
[code]
But the tree still doesn't have the first _?_ as error node: ``` (r ${ (v a) ? })```.

See my comments inline the Antlr generated code below:
[code]

[2016-11-08 20:08] marcohu commented on #1233
A similar issue: If a grammar is split into lexer and parser grammars and the parser uses the vocab from the lexer (which is probably the norm?), changing only one part does not re-generate the other - possibly leading to errors because the tokens are out-of-sync.

I found this issue so annoying that I patched the plugin to detect non-combined grammars just by naming convention (search for NameLex

[2016-11-09 09:25] JoeyAcc commented on #1315
Indeed, the discussion there helped me out quite a bit. So this issue can be closed now.

[2016-11-09 09:25] #1315 closed

[2016-11-10 17:45] parrt commented on #1319
I'm completely rebuilding the runtime test generation stuff. https://github.com/antlr/antlr4/issues/1347  Going very well. I think we can even avoid code gen completely for building tests! i'm using some serious java mojo.

[2016-11-10 17:46] parrt commented on #1319
@ewanmellor how goes Swift? Need any help?

[2016-11-10 18:37] parrt commented on #1319
E.g., instead of:

[code]

we can use

[code]

cool, right?

[2016-11-10 18:55] HSorensen opened #1350 "Missing attributes in Tool's MANIFEST.MF file"
When using ANTLR4IDE the genrerated tool jar cannot be imported due to missing attributes in the MANIFEST.MF file.

In the antlr4/tool/pom.xml for the jar generation

[code]

I added this configuration

[code]
and the generated tool jar can be imported.

[2016-11-10 19:23] ewanmellor commented on #1327
@parrt Can I persuade you otherwise? ;-)

Java 6 hasn't had a publicly available update since April 2013 (according to [Wikipedia](https://en.wikipedia.org/wiki/Java_version_history#Java_SE_6)) but Oracle have made dozens of security fixes under their support program.  That means that the public version is known to be insecure.  I don't think that we (or anyone) should be supporting it unless you

[2016-11-10 19:25] parrt commented on #1327
Hmm...ok, anybody object to requiring Java 7 now? @sharwell @ericvergnaud ?

[2016-11-10 19:39] ewanmellor commented on #1319
@parrt Yes, help on the Swift target (from you or anyone else) would certainly be appreciated!

We currently have 9 test failures (see https://travis-ci.org/ewanmellor/antlr4).  Some if not all of those are due to #1332, so that would be a good one.

@sharwell asked for #1331, and OptionalValue is even messier now than when we last discussed it because it got mangled when merging with recent templ

[2016-11-10 20:20] mike-lischke commented on #1347
Suggestion: parameter(s) to switch between all tests, only a single target, only a single group in a target, only a single test. Would help debugging a lot.

[2016-11-10 20:23] parrt commented on #1347
yeah, you won't believe how much i've rebuilt. See branch https://github.com/parrt/antlr4/tree/testgen-rebuild

E.g., I'm working on this file https://github.com/parrt/antlr4/blob/testgen-rebuild/runtime-testsuite/XXXTest/test/org/antlr/v4/test/runtime/xxx/java/TestParserExec.java

[2016-11-10 23:06] ericvergnaud commented on #1327
I support dropping Java 6.

Envoyé de mon iPhone

[2016-11-11 00:05] parrt opened #1352 "Drop support for 1.6, move pom.xml etc. to JDK 1.7"

[2016-11-11 00:05] parrt commented on #1327
Added https://github.com/antlr/antlr4/issues/1352

[2016-11-11 02:48] janyou commented on #1168
Currently, this can only be used:

`classDef returns [STClass scope]`

Because the common template is so defined.
e.g. **test/runtime/templates/CompositeParsers/DelegatorInvokesDelegateRuleWithArgs.stg**:

[code]

[2016-11-11 17:30] tschoening commented on #828
I don't see why this is invalid, I came across the same question and have a hard time finding any documentation about using antlr4 with binary files as well. Your hint using "\u0042" is helpful of course, but wasn't that obvious like it sounds in your statement. Additionally, the more interesting cases are still not covered, for example how to deal with the found token in the callbacks, how to dea

[2016-11-12 14:50] marcohu commented on #1327
Does this involve only the build environment requirement or will the runtime also depend on Java 7?

[2016-11-12 16:45] parrt commented on #1327
just the build

[2016-11-12 17:02] marcohu commented on #1327
Great! I would seriously consider going straight to Java 8 then.

Do you plan to use something like the Animal Sniffer plugin to ensure JDK 6 compatibility for the runtime?

[2016-11-14 00:17] marcohu commented on #1233
I've added a PR for this that addresses both mentioned use cases.

It seems the used test harness requires Java 8, though. I've ran into dependency issues with the maven test harness and therefore used a different plugin that seems to be better anyway.

As the JDK requirement for the build environment is about to be changed, maybe this is ok. Otherwise I might be able to adjust the unit test. Just

[2016-11-14 13:54] abique opened #1354 "New optimization for parser generator"
Hi,

The following changes in my grammar made the parsing of if statements a lot faster, but I think that antlr could have figure it itself:

[code]

As every rules in `if_statement` starts with `'if' par_exp st=statement'` ANTLR could have figured that it was possible to factor them.

[2016-11-14 17:23] sharwell commented on #1327
@marcohu We already build the release using a newer JDK, and use the bootclasspath build option to ensure JDK 6 compatibility.

It seems like the use of ProcessBuilder.Redirect is likely not required. Can you clarify where it is used? We can replace it with the mechanism already used in the Java target tests to redirect/consume output from a separate process.

[2016-11-14 18:19] parrt commented on #1319
Hi.I'm cranking on rebuild of runtime test stuff; sorry for delay. I can upgrade your test stuff when you're ready to integrate. @hanjoes can you help out on these issues above?

[2016-11-14 18:48] marcohu commented on #1327
@sharwell I'm actually using your version, bootclasspath checking is not implemented universally. Don't know whether this is intentional. Compiling the maven plugin yields a warning for me:

    [WARNING] bootstrap class path not set in conjunction with -source 1.6

I'm using Java 7 features in #1353 already and would very much prefer to be able to do so. At least for testing. For the runtime I'm

[2016-11-14 18:48] hanjoes commented on #1319
Yeah, for sure. I will setup the workspace today and start looking.

[2016-11-14 18:58] parrt commented on #1327
@marcohu I think we'll do jdk 7 for now.

[2016-11-14 19:02] #1327 closed

[2016-11-14 19:02] #1352 closed

[2016-11-14 19:43] sharwell commented on #1327
@marcohu

This is intentional. Not all users have a Java 6 JDK laying around, so disabling this feature in the default build reduces the effort required for developers to start working on the project. :smile:

[2016-11-14 20:18] marcohu commented on #1327
@sharwell While I strongly agree to have fully automated builds, I would prefer to have requirements still enforced. That's where animal sniffer etc. could prove useful. Otherwise developers might use unsupported features at one point and have to rework their code.

But as this discussion is off-topic here, we should continue in the forum if there is any interest.

[2016-11-14 23:33] hanjoes commented on #1168
I submitted a PR for this a while ago, please check [this](https://github.com/antlr/antlr4/pull/1207/commits/b9f32249179d665ece32cf965a05dceeec468668). Not sure how are the recent changes to ANTLR will work with the change tho, will follow up.

[2016-11-15 19:47] #1347 closed

[2016-11-15 20:53] mike-lischke commented on #1347
Now we need new documentation how to write test the "new way" :-D

[2016-11-15 20:54] parrt commented on #1347
oh crap! i new i forgot something. adding to list right now.

[2016-11-15 22:32] sharwell commented on #1168
@parrt I expected the original rule in the grammar to appear like this:

[code]

In other words, I expected ANTLR grammars to retain prefix typing even when the target language uses postfix typing.

[2016-11-15 22:42] parrt commented on #1168
all other actions are in target language, such as local var def, though. Hmm...what about other pascal-like languages? If it is ONLY the `?` issue with Swift then maybe we can just use `STClass?` as you say.

[2016-11-16 00:30] parrt commented on #1168
@hanjoes can we get away with `type var` syntax like @sharwell suggests? Does it translate properly to Swift?

[2016-11-16 00:54] hanjoes commented on #1168
from the code perspective we can do this, but i feel more consistent if we use the postfix type decl for swift since as you mentioned actions are language specific. Using postfix decl was actually my first hunch when I tried to write a grammar for the swift target, it feels more natural.

[2016-11-16 00:59] parrt commented on #1168
@hanjoes do you mean `rule[x : STClass?]`?

[2016-11-16 01:00] hanjoes commented on #1168
yes.

[2016-11-16 01:02] parrt commented on #1168
my concern was also consistency between parameters and what you can do inside of action. Sam pointed out though that such parameters would not work in his ANTLRWorks2 plug-in because he parses the parameter actions to syntax highlight the argument names. I guess that only matters if (a) you are actually putting parameters into your grammar and you are using that development environment. It's no pr

[2016-11-16 01:12] parrt commented on #1168
The comment in the code makes it very clear it is language dependent:

[code]

I will proceed with your PR if you can add yourself to the contributors.txt file.

[2016-11-16 01:14] parrt commented on #1168
@janyou I will have to update the unit tests so they use a template reference to get the appropriate declaration. Something like `rule[<argdef("argname","typename")>]` and then the test rig will do the appropriate replacement, pulling template `argdef` from target.test.stg file.

[2016-11-16 01:15] parrt opened #1359 "Make runtime tests with rule parameters target independent"
update the unit tests so they use a template reference to get the appropriate declaration. Something like `rule[<argdef("argname","typename")>]` and then the test rig will do the appropriate replacement, pulling template `argdef` from target.test.stg file.

[2016-11-16 03:54] millergarym opened #1361 "Split Go runtime into its own repository"
Go has its own build system. A separate repository for the Go runtime would make for a better development experience. Currently doing a  `go get github.com/antlr/antlr4` downloads the entire Antlr4 repository. The only files needed are the Go runtime source. Additionally, it would be nice to have a copy of the jar and an example is this repository.

I have created an example repository at [https:/

[2016-11-16 08:03] johnnadratowski commented on #659
@pboyer - I was trying to use your new Golang target last night, and I hit a bit of a snag:

![image](https://cloud.githubusercontent.com/assets/2152043/20339232/2a9f5daa-aba9-11e6-897d-8825023fb2ce.png)

This could very well be user error, as I have no experience with Antlr.  I'm really excited to try this out though!

[2016-11-16 23:54] thosakwe opened #1367 "Integrate Dart Target and runtime"
@tiagomazzutti [ported ANTLR4 to Dart](https://github.com/tiagomazzutti/antlr4dart.git) 3 years ago, and I think it would be nice if it were distributed with the main tool. The [runtime](https://github.com/tiagomazzutti/antlr4dart-runtime) is in its own repo, which potentially could be cloned into the antlr4 organization.

If you think this is a good idea, I will create a PR.

[2016-11-17 08:12] thisiscam commented on #1219
I encountering performance issues with ANTLR's python target also, and I've compared my grammar on cpython and pypy -- both were at least thousand times slower than java counterparts..

It drives me to the conclusion that it's probably still due to the inefficient translated code or the python runtime code.

Like one of the previous comments suggested, people in python community interested in spee

[2016-11-17 18:40] hanjoes commented on #1319
@parrt I noticed that tests in testVisitors are ignored for other targets? Those test cases are failing for Swift target, is there any context for this?

[2016-11-17 18:41] parrt commented on #1319
The tests were added but the test author didn't spend the time to add to other targets. ;)

[2016-11-17 18:49] hanjoes opened #1368 "testVisitors test suite is incomplete"
Currently all targets are failing for testVisitor because it's incomplete. It doesn't hurt functionality but would be better if we can sort it out.

[2016-11-17 18:51] hanjoes commented on #1319
Okay, I will ignore those tests for now since the intention of the expected output is not totally clear to me without further investigation. I filed an issue just to track this and will move forward with Swift integration. #1368

[2016-11-17 19:24] parrt commented on #1168
Fixed by https://github.com/antlr/antlr4/pull/1365

[2016-11-17 19:24] #1168 closed

[2016-11-17 19:26] parrt commented on #1329
@ewanmellor @hanjoes need help on this?

[2016-11-17 19:31] parrt commented on #828
this is a question not an issue with the software.  besides, I don't know what this means "for example how to deal with the found token in the callbacks, how to deal with the fact that I know that I have fields of e.g. 1 byte length, but don't know their actual value "

[2016-11-17 19:39] kkbkris commented on #828
Dear Terence,

Using DOM, and my limited and outdated knowledge of programming in JavaScript, query, not a very good term to use, the .valueOf() attribute or .value of the DOM object. Reference the value of the DOM object. Also measure it.

Yours sincerely,
GitHub User

Sent from my iPhone

On 17 Nov 2016, at 19:31, "Terence Parr" <notifications@github.com<mailto:notifications@github.com>> wrote:

[2016-11-17 20:11] tschoening commented on #828
Guten Tag Terence Parr,
am Donnerstag, 17. November 2016 um 20:31 schrieben Sie:

The homepage claims antlr supports parsing binary data and in most of
such data formats I know of, at least in the case I'm interested in
currently, one knows the defined structure of the data, but not the
actual values. Think of an IPv4 frame, a MPEG video file or such:

You know that some bytes are in there in some

[2016-11-17 20:25] parrt opened #1369 "Repeated epsilon transitions in ATN from left-recursive grammar"
See `TestATNConstruction.testForRepeatedTransitionsToStopState()`. This grammar yields extra (repeated) transitions to block end states:

[code]

The ATNPrinter shows repeats:

[code]

It looks to be the FOLLOW edges emanating from `e`'s stop state 3 to right edges of block alts to state 26. could really slow down closure that falls off end of rule.

<img width="1456" alt="screen shot 2016-11-17 a

[2016-11-17 20:41] #1369 closed

[2016-11-17 20:42] parrt commented on #1369
@mike-lischke can you verify things work on your big grammar at home?  It should not have extra edges. Does it perform better?

[2016-11-17 20:43] parrt commented on #1319
Status is Go, C++ integrated. Swift is still in progress before it can be integrated I think,right @ewanmellor @janyou @hanjoes ?

[2016-11-17 21:05] hanjoes commented on #1329
I wish I can start working on this issue, but a little bit more context on this issue would be good. I understand we should switch away from JSON serialization to keep it consistent. I have two questions though:
1. Is this causing unit tests failures?
2. What role does ATN play in ANTLR runtime.

[2016-11-17 21:08] parrt commented on #1329
I suppose it if works, it's our biggest hurdle and we should leave it as-is.

The ATN is a state machine representing the grammar and is serialized to strings or shorts to be stored with generated parser.

[2016-11-17 21:14] hanjoes commented on #1319
Yes. Swift is still in progress.

[2016-11-17 21:30] parrt commented on #828
Ah. Well, right. parsing by definition means you know the type of thing but not its value like an ID or INT. Let me whip up an example.

[2016-11-17 21:31] parrt commented on #828
@kkbkris i have no idea what you are saying.

[2016-11-17 22:07] ewanmellor commented on #1329
I have pushed my work-in-progress to https://github.com/ewanmellor/antlr4/tree/non-json-atn-serialization.  I will be able to pick this up again on Saturday, but you are welcome to work on it instead if you don't want to wait.

The current code at https://github.com/ewanmellor/antlr4/tree/swift-target is using JSON to serialize the ATN, rather than encoding it as a binary.  The Java target uses a

[2016-11-17 22:10] ewanmellor commented on #1332
Implemented in https://github.com/ewanmellor/antlr4/commit/10bb83d0b50d82b9a85662f4ee9823c4853133e9

[2016-11-17 22:10] #1332 closed

[2016-11-17 22:28] ewanmellor commented on #1319
@parrt Yes, Swift is still in progress.  I have merged all of @janyou 's recent changes, Travis is running now.  We still have #1329 and #1331 as blockers.  #1168 and #1368 to my knowledge are not blockers.

[2016-11-17 22:29] ewanmellor commented on #1319
@hanjoes #1331 would be a good one, if you have time right now.

[2016-11-17 22:31] hanjoes commented on #1319
Cool, I will take a look tonight.

[2016-11-17 22:32] ewanmellor commented on #1319
@hanjoes Thanks.  Are you suggesting that we should skip testVisitors for now?  If so, could you send me a pull request for that (or I'll do it on Saturday).

[2016-11-17 22:57] hanjoes commented on #1319
Looks like other targets are also ignoring the tests for testVisitors, at least in our current branch. @parrt is working on some new test mechanism also, so for now I think we can move onto other issues with swift target.

[2016-11-17 22:57] hanjoes commented on #1319
I can do it tonight, should be a fast PR.

[2016-11-17 22:59] parrt commented on #1319
@hanjoes @ewanmellor You guys should pull from antlr/antlr4 to get new test mechanism. it will ignore visitors test for all but javascript targets automatically.

[2016-11-17 23:06] hanjoes commented on #1319
k i can try rebasing the swift-target from @ewanmellor 's fork onto the newest master tonight.

[2016-11-17 23:47] jimidle commented on #828
I think here the issue is that the OP wants to ask for the 'next byte' at certain points. I think that such things really require another level of abstraction. Otherwise you need a Parser driven lexer. 
Jim

On Fri, Nov 18, 2016 at 5:30 AM +0800, "Terence Parr" <notifications@github.com> wrote:

Ah. Well, right. parsing by definition means you know the type of thing but not its value like an ID or

[2016-11-18 01:34] janyou commented on #1329
Another option is to make a simple json writer, to remove the dependence on the javax.json-1.0.4.jar/javax.json-api-1.0.jar.

[2016-11-18 07:56] mike-lischke commented on #1369
Yes, I had this fix added already in the C++ runtime and it work without problems.

[2016-11-18 16:24] parrt commented on #1329
Ah yes,  I don't want to add another dependency to the tool. please don't add any dependencies in pom.xml

[2016-11-18 16:25] parrt commented on #1329
@ewanmellor base-64 strings might be the right way to go.

[2016-11-18 16:25] parrt commented on #828
@jimidle the getExpectedTokens() or whatever it is should give them the expected bytes no problem.

[2016-11-18 16:27] parrt commented on #1319
@hanjoes  did the rebase work?

[2016-11-18 16:35] hanjoes commented on #1319
I might need more time on this, there are a lot of commits and conflicts.

[2016-11-18 16:36] parrt commented on #1319
weird. the original fork I saw really only had a few files changed. Are there a bunch of changes in the code generation model?

[2016-11-18 17:10] parrt commented on #828
"Fixed" by adding this documentation https://github.com/antlr/antlr4/blob/master/doc/parsing-binary-files.md. @tschoening  does this answer your question? As you can see, there is no difference between parsing characters and binary from a recognition point of view. It's all about how you feed things to the lexer.

[2016-11-18 17:11] parrt commented on #1367
Hi. I will certainly be interested in taking a look. @tiagomazzutti can you re-base on the current master? then I can take a look

[2016-11-18 18:07] hanjoes commented on #1319
what I went through yesterday are mostly build system and test template changes. Should be okay, but not trivial. A simple merge might be easier.

[2016-11-18 18:08] parrt commented on #1319
@hanjoes let me know if you want me to merge the non-swift parts

[2016-11-18 18:09] hanjoes commented on #1319
sure

[2016-11-18 18:09] tschoening commented on #828
Guten Tag Terence Parr,
am Freitag, 18. November 2016 um 18:10 schrieben Sie:

Yes, thanks. This makes it much clearer for me to understand how
thinks are supposed to work.

Mit freundlichen Grüßen,

Thorsten Schöning

--
Thorsten Schöning       E-Mail: Thorsten.Schoening@AM-SoFT.de
AM-SoFT IT-Systeme      http://www.AM-SoFT.de/

Telefon...........05151-  9468- 55
Fax...............05151-  9468- 8

[2016-11-18 20:38] hugheaves opened #1372 "Incorrectly tagged source code for release 4.5.3"
Hi. Thanks for the great tool!

I'm using 4.5.3 in a product for which I have to be able to build the ANTLR binaries from source. However, the 4.5.3 source zip download linked on the website and in the "releases" section of GitHub is actually for 4.5.4-SNAPSHOT.

It looks like both commit b92f227 (4.5.4-SNAPSHOT) and commit 567fcc6 (4.5.3 - final version) were tagged as "4.5.3".:

https://github.c

[2016-11-18 22:54] hanjoes commented on #1319
About the OptionalValue mentioned in #1331, ran into some conflicts on this when rebasing. I'm planning to remove it since people are not super happy about it. Is there any problems? @parrt @janyou

[2016-11-18 23:23] parrt commented on #1319
I am OK with removing

Sent from my iPhone

[2016-11-19 00:48] hanjoes commented on #1319
Done with rebasing but having issues with Swift tests. Need to switch to the new test mechanism.

[2016-11-19 02:08] ericvergnaud commented on #1329
@ewanmellor or an array of ints is the Swift compiler does not complain about very big arrays

[2016-11-19 03:22] janyou commented on #1319
@hanjoes   `OptionalValue`  can not be removed, only be renamed.

[2016-11-19 03:33] ereyes01 commented on #1128
I hit this error again running `mvn compile` for 4.6 (was building to play with the newly integrated Go target):

[code]

`mvn install` seems to work ok so far, it's running all the tests now...

[2016-11-19 07:08] ereyes01 opened #1374 "Go Target Code Should Use Godoc-Style Inline Docs"
I'm new to ANTLR and I've been having fun all night with the new Go target, thanks for that!

I've been perusing some of the Go source trying to learn the API of the generated Go code, and I noticed that some functions are documented with what appears to be Javadoc style comments. The standard in Go is to use [Godoc](https://blog.golang.org/godoc-documenting-go-code)-style comments, and the [Go li

[2016-11-19 08:49] hanjoes commented on #1319
I need to look more into test templates to know how exactly it works. Maybe i will revert some of the changes. Right now I'm not sure templates are used any more.

[2016-11-19 10:13] ericvergnaud commented on #1128
you first need to run mvn install -DskipTests=true

[2016-11-19 19:15] parrt commented on #1128
Updated docs to indicate this extra step.

[2016-11-19 19:23] eiselekd opened #1375 "javascript processing speed"
Hi, the javascript target in antlr4 seems __very__ slow
for bigger files. I use a 130k vhdl file scanned in with a antlr4
grammar. I did a little test to measure:

cpp-target: 3 sec
javascript-target: 2 minutes
cpp-target-converted_with_emscripten_to_javascript: 15 sec

The test is here: https://github.com/eiselekd/jshdl . Using
emscripten to convert the cpp target parser  is
usable however output

[2016-11-19 20:27] sharwell commented on #1375
A huge thank you for putting this test together. I used the test to run some benchmarks on the TypeScript target which is just showing signs of life.

In a direct conversion of the test, the TypeScript target completed parsing in 20 seconds. However, if I ran the parser a second time on the same file, it was only a hair shy of 20 seconds, which tells me the parser is spending most of its time in f

[2016-11-19 20:50] eiselekd commented on #1375
Not familiar with the parser details but I guess that the
main problem in the javascript target is the javascript runtime and
that parser uses javascript objects. On the other side emscripten generated
javascript code (based on the cpp target output) uses ArrayBuffer and no
objects, I guess that is why it can get close to the cpp speed when running jitted.

[2016-11-19 20:50] #1375 closed

[2016-11-19 22:08] #1156 closed

[2016-11-19 23:21] parrt commented on #1302
@nielsbasjes Can't we solve this by just using channel not skip in lexer? Any runtime change could mean ripple effect across all targets.

[2016-11-19 23:41] parrt commented on #1374
godoc would be best for go target. feel like fixing it? ;)

[2016-11-19 23:43] parrt commented on #1372
oh crap. yeah, i remember having to fiddle with tags. I'm going to leave as 4.6 is coming soon.

[2016-11-19 23:43] #1372 closed

[2016-11-19 23:44] parrt commented on #1367
@thosakwe The original author looks to be busy and suggests some updates would be required to current DART. are you interested in trying to bring this forward?

[2016-11-19 23:45] parrt commented on #1367
The issue is that we'd also need to make sure all the runtime tests work. I could set up but I can't fill in any DART code.

[2016-11-19 23:46] parrt commented on #1354
Hi. Yes, I've considered auto left-factoring but decided not to implement in the end. thanks though.

[2016-11-19 23:46] #1354 closed

[2016-11-19 23:48] parrt commented on #1361
Hi. I agree in general but for antlr4 I'd like to keep all runtimes in the same repo so I'm forced to keep everything in sync. If I change the tool, all my tests run automatically.

[2016-11-19 23:48] #1361 closed

[2016-11-19 23:48] parrt commented on #1323
Is this java or java8 grammar? it is hitting a nonlinearity. not a bug but not fun either. ;)

[2016-11-19 23:48] #1323 closed

[2016-11-19 23:54] parrt commented on #1350
It would appear we have lots of different attempts to do this. In `antlr4-runtime`:

[code]

In `antlr4/tool/pom.xml`:

[code]

I have no idea how all that shit works. Can you help me sort through this @HSorensen ?

[2016-11-20 00:00] #1342 closed

[2016-11-20 00:01] parrt commented on #1320
Is this java or java8 grammar? You are hitting nonlinearity in parsing strategy.

[2016-11-20 00:14] abique commented on #1354
Why not?
There are a bunch of cases in my grammar which would benefit from this optimization yet they are painful and not natural (to me) to rewrite with left factoring.

[2016-11-20 00:14] parrt commented on #1318
thanks!

[2016-11-20 00:14] #1318 closed

[2016-11-20 00:15] parrt commented on #1354
It's up to me to decide if I'm willing to spend effort. Sorry. 25 years is enough on one project for me.

[2016-11-20 00:24] abique commented on #1354
OK I understand. Thank you for this software!

[2016-11-20 00:25] parrt commented on #1331
Resolved differently than OptionalValue as runtime mechanism has been upgraded.

[2016-11-20 01:39] #1331 closed

[2016-11-20 01:41] parrt commented on #1329
I have looked at am ok with the JSON serialization mechanism that exists now ( @hanjoes  and I worked on it today). It is using output of ATNPrinter and stores as string literal in a separate class but the Swift runtime engine pulls that in rather than loading from file. So, we're good as-is.

[2016-11-20 01:42] #1329 closed

[2016-11-20 01:52] HSorensen commented on #1350
@parrt, I wish I could help more, but my maven-fu is not as strong. I am just happy I found a way to include the MANIFEST attributes.

[2016-11-20 02:40] thosakwe commented on #1367
Interested, but it will take some time. I need to learn StringTemplate
first.

On Nov 19, 2016 6:45 PM, "Terence Parr" <notifications@github.com> wrote:

[2016-11-20 04:23] millergarym commented on #1361
Hi Terence,
There are a couple of ways that I can think of that would be achieve both goal.

The first is what I have done with the proof of concept repo, which is to manually update an antlr4-go repo.
The second would be for the build to update target specific repos.
The third is for the antlr4-go directory to be a subtree of so other repository.

I think subtrees and submodules are more problems

[2016-11-20 05:42] ereyes01 commented on #1374
I'd be happy to switch the existing javadoc-style ones when I get some time soon... However, for the many undocumented exported functions, someone who actually knows what they're doing with ANTLR would probably write better docs than I :-)

[2016-11-20 06:55] sufail commented on #1323
Well it still seems a for me.
I am using Java7 grammar.  https://github.com/antlr/grammars-v4/blob/master/java/Java.g4
Please have a look at the following input file snippet

public class AbsencesApprovalsEventsAMImpl extends ApplicationModuleImpl {

		public Object publishAbsencesApprovalsEvent(Map<String,Integer>  absenceValues) {

		if (!(transactionId.equals(null)) && !(requestor.equals(null))

[2016-11-20 07:03] sufail commented on #1320
@parrt
I am using Java7 grammar. https://github.com/antlr/grammars-v4/blob/master/java/Java.g4
Please have a look at the following input file snippet

public class AbsencesApprovalsEventsAMImpl extends ApplicationModuleImpl {

    public Object publishAbsencesApprovalsEvent(Map<String,Integer>  absenceValues) {

    if (!(transactionId.equals(null)) && !(requestor.equals(null))) {

        String

[2016-11-20 08:10] ericvergnaud commented on #1115
@lygav thanks for this, it would indeed be great if you could add some tests, which is now much simpler, see https://github.com/antlr/antlr4/blob/master/doc/adding-tests.md

[2016-11-20 11:04] WolfgangFahl commented on #1156
Given:

Tests run: 1965, Failures: 229, Errors: 392, Skipped: 42
I'd reopen this

[2016-11-20 15:25] dosapati opened #1380 "mysql grammer / parser java code not working"
Just trying out [mysql grammer](https://github.com/antlr/grammars-v4/tree/master/mysql) and it's not parsing a simple SQL as expected. Did I do any mistake? My goal is to get the table name and columns names identified by the parser. Using ANTLR version 4.5.3

[code]

[2016-11-20 15:26] ericvergnaud commented on #1380
Hi,
the place for support is the google discussion group.
Please close this.
Eric

[2016-11-20 15:28] dosapati commented on #1380
My apologies, can you please help me with this simple one. stuck with this for long time.

[2016-11-20 15:28] #1380 closed

[2016-11-20 15:50] bodymindarts opened #1381 "mvn compile failing. Could not resolve dependencies"
Just trying to compile antlr locally on MacOS Sierra 10.12.1 following [this doc](https://github.com/antlr/antlr4/blob/master/doc/building-antlr.md).
This is the end of the `mvn compile` run:
[code]

All help apreciated

[2016-11-20 20:09] DocPlaid commented on #840
I had a similar problem, so I began commenting out lines in my grammar until the error went away.
In my case, the problem was a typo in my rules for numeric literals:
fragment DIGIT : '0'..'9 ' ;
Changing that to either of the following made the error go away:
fragment DIGIT : '0'..'9' ;
fragment DIGIT : [0123456789] ;
It seems likely that the character range from '0' to '9 ' is interpreted as Uni

[2016-11-20 20:12] sharwell commented on #840
@DocPlaid you can also use `[0-9]` for that range in ANTLR 4. :smile:

[2016-11-21 01:07] #1275 closed

[2016-11-21 03:56] parrt commented on #1319
@ewanmellor @janyou @hanjoes integrating Swift shortly after burst of work from @hanjoes yesterday. been fighting travis all day but I think it's ready to go. https://github.com/antlr/antlr4/pull/1382

@mike-lischke changed travis in PR for swift so C++ runs on osx.

When I get Swift in, I'll focus on bugs and move towards a 4.6 release.

[2016-11-21 04:49] ewanmellor commented on #1319
@parrt Sounds great.  Anything I can do?

[2016-11-21 05:00] parrt commented on #1319
@ewanmellor Nope. I *think* I just beat travis into submission. no C++ on osx but it's ok to merge Swift in. Shouldn't be long now.

[2016-11-21 05:09] parrt commented on #1319
Looks like the branch/fork will pass all tests. Merged in Swift target! Thanks everyone! Ok, i'm going to close this "issue" with https://github.com/antlr/antlr4/pull/1382 . 💯

[2016-11-21 05:09] #1319 closed

[2016-11-21 18:09] parrt commented on #1350
@HSorensen ok, well I better not touch the pom files because I'm likely to mess up something; I will close this then.

[2016-11-21 18:09] #1350 closed

[2016-11-21 18:26] parrt commented on #1367
Ok, note there is doc on basic process. https://github.com/antlr/antlr4/blob/master/doc/creating-a-language-target.md

[2016-11-21 18:28] parrt commented on #1361
@millergarym yeah, still, having build update a target etc... is complicated.  Downloading extra cruft with `go get` is invisible and doesn't require additional machinery :)

[2016-11-21 18:30] parrt commented on #1323
Yes, ANTLR's ALL(*) is O(n^4) worst case and you hit it with that. The java8 grammar doesn't use left-recursive expr and so performs better in this case.

[2016-11-21 18:51] parrt commented on #1156
For now, I improved the doc. https://github.com/antlr/antlr4/commit/06285d16d72763d8f2367e5920a5d198d4f0a0a2

[2016-11-21 18:58] parrt commented on #1319
I invited active master impl target devs to target team. check your email. i'll mention that team name (just renamed to be @antlr/antlr-targets) when i update a target that could require changes in your target(s).

[2016-11-21 19:10] thosakwe commented on #1367
Thanks. I'll likely just migrate the Java code, because Dart bears many
similarities to it.

First will be the runtime, then the templates.

[2016-11-21 19:21] #1233 closed

[2016-11-21 19:36] #1302 closed

[2016-11-21 19:45] parrt commented on #1381
Ooops. Fixed by https://github.com/antlr/antlr4/commit/39ddd0da3a503fe96e94f1a01558384b14c7a36e.  Use

[code]

not `compile`

[2016-11-21 19:45] #1381 closed

[2016-11-21 19:46] parrt commented on #1359
It looks like we're ok here. `T x` or `x:T` works for all targets.

[2016-11-21 19:46] #1359 closed

[2016-11-21 19:46] parrt commented on #1322
@sharwell also pointed out issue with license text. Investigating at moment.

[2016-11-21 19:47] #1239 closed

[2016-11-21 19:49] parrt commented on #1320
Yep, see comment on other "slow issue"

[2016-11-21 19:49] #1320 closed

[2016-11-21 20:58] KvanTTT commented on #1320
@sufail, try to split huge left-recursion expression on short primitive rules at least for addition operation:

**Old:**
[code]
**New:**
[code]
See paragraph about grammar optimizations in my article for more detail: [Java- and Java8 grammars](http://blog.ptsecurity.com/2016/06/theory-and-practice-of-source-code.html#java--and-java8-grammars).

[2016-11-21 21:47] #1317 closed

[2016-11-21 21:48] parrt commented on #1310
Hmm...must be a pom.xml issue.  Maybe check one of mine https://github.com/antlr/stringtemplate4/blob/master/pom.xml

[2016-11-21 21:48] #1310 closed

[2016-11-21 21:50] parrt opened #1385 "travis now failing due to too many tests causing timeout for osx but linux is ok still"
For example https://travis-ci.org/antlr/antlr4/jobs/177752866#L3191

[2016-11-21 21:53] parrt commented on #1385
@mike-lischke i think you added "sudo required" to the travis build which i think is slower. The parallel thing didn't seem to help but I'll try again. is that sudo really needed? Why is g++-5 listed as required btw?

[2016-11-21 22:12] parrt commented on #1284
interesting. i'll look

[2016-11-21 22:16] millergarym commented on #1361
@parrt except there isn't a built jar in `go get` download.

Does the current build process (travis etc.) leave an accessible jar?
If so please point me at it.
Because of this I included antlr4-4.5.4-SNAPSHOT.jar in my Go gettable repo.

To get from the current repo to a jar requires a jdk, maven and a reasonable amount of knowledge. This is quite a bit of additional machinery for non-Java develop

[2016-11-21 22:17] parrt commented on #1295
Fixed by https://github.com/antlr/antlr4/pull/1296

[2016-11-21 22:17] #1295 closed

[2016-11-21 22:24] parrt commented on #1307
Yeah, see https://github.com/antlr/antlr4/blob/master/doc/building-antlr.md and run `mvn -DskipTests install`

[2016-11-21 22:24] #1307 closed

[2016-11-21 22:29] parrt commented on #1291
@BurtHarris works now. allows in parallel testing and target specific. see https://github.com/antlr/antlr4/blob/master/doc/building-antlr.md

[2016-11-21 22:29] #1291 closed

[2016-11-21 22:31] parrt commented on #1283
Hi. got a simple example to explain what is wrong?

[2016-11-21 22:33] parrt commented on #1361
@millergarym Doesn't `go get` return just the go stuff you need? Why do you need the jar?

[2016-11-22 03:50] millergarym commented on #1361
To run the antlr tool and generate Go source from the .g4 files.

On Tuesday, 22 November 2016, Terence Parr <notifications@github.com> wrote:

[2016-11-22 06:16] ikeas68 opened #1387 "probleme with lexer"
with a simple grammar

[code]

and override class
[code]

and test

[code]

the token is not correctly reconized
- it don't go to sempred function for PILOT, if i must to go in function i must add
**XXXXX				: [A-Za-z\.0-9_]+ { false }?** ;
after
**PILOT				: [A-Za-z\.0-9_]+ { false }? ;**
- even **MNEMONIC** return **true** and **PILOTS** **false**, the lexer choice PILOTS

sample :

[code]

[2016-11-22 07:01] nielsbasjes commented on #1302
My usecase is a situation where I want to find patterns and afterwards extract the unmodified matched string.
The reason I did it this way is that I initially had the spaces explicitly in my lexer and parser yet this made it very hard to read; a lot of SPACE+ in the parser . Using this construct it became a lot better to read and maintain.
I figured others may have a similar situation so that is w

[2016-11-22 08:00] mike-lischke commented on #1385
That's what I mentioned in e-mail before already. You will soon hit that limit and with every target you add things become worse. No, I didn't add `sudo required`. In fact I tried to get rid of it, but ran into other weird problems then. When you do a blame, you'll see Eric added that line in revision [14ade86] and without it some installations with sudo fail.

But I believe that sudo setting is n

[2016-11-22 11:43] sufail commented on #1320
Thanks @parrt  @KvanTTT

[2016-11-22 14:58] ericvergnaud commented on #1312
Hi,
the version coming from Nuget is maintained by @sharwell at tunnelvisionlabs
can you check with him first?
Eric

[2016-11-22 15:08] ericvergnaud commented on #1385
Hi,

what we need is this: https://github.com/travis-ci/travis-ci/issues/4090 <https://github.com/travis-ci/travis-ci/issues/4090>
but looks like it’s not going to happen soon…

in the meantime we could use:

env:
	- TARGET=java
	- TARGET=csharp
	etc…

to populate a build matrix
we could then use $TARGET in the build script to only install the required components and run the corresponding tests

E

[2016-11-22 15:11] sharwell commented on #1312
@dhmhgre Here's where you would want to file the bug:
https://github.com/tunnelvisionlabs/antlr4cs

That's a humorous bug considering the output is *so far* from what one would expect. You can work around this issue today by changing the name of your return value to anything other than `values`.

[2016-11-22 15:19] mike-lischke commented on #1385
Are builds in a build matrix distributed over multiple containers? If not then I don't see how this would help as still all tests would run in a single container and need more or less the same time to execute.

[2016-11-22 15:31] ericvergnaud commented on #1385
yes they are, that’s the whole point of a build matrix

[2016-11-22 18:14] KvanTTT opened #1388 "Lexer does not notify about error for token with indentical repeated commands"
ANTLR should generate errors if token have several identical commands `skip`, `more`, `mode`, `type`, `channel` and other. At present time lexer uses the last identical command if several commands presented.

If we use the following grammar and input:
[code]

**Input:**
[code]

We will get the following type-value output in  `DEFAULT_TOKEN_CHANNEL`:

[code]

Also it does not make sense to use such

[2016-11-22 19:05] KvanTTT opened #1390 "[RFC] Add channel command for modes"
In some cases it would be convenient to add tokens from certain mode to certain channel. For example: grammars with preprocessing. See [DIRECITVE_MODE in C# grammar](https://github.com/KvanTTT/grammars-v4/blob/master/csharp/CSharpLexer.g4#L254).

Instead of repeated `channel(DIRECTIVE)` command for every token:
[code]

We will able to override `channel` command only for tokens with not mode channe

[2016-11-22 20:12] parrt opened #1392 "add doc on using Swift target with antlr 4"
Need info on how to run Swift-based parsers. Update https://github.com/antlr/antlr4/blob/master/doc/swift-target.md

[2016-11-22 20:13] parrt commented on #1392
@hanjoes maybe you can help too?

[2016-11-22 20:16] hanjoes commented on #1392
Sure, I'm willing to help. I will be in mountains in the next 3 days. Will work on this intermittently, but will make more effort when I got back.

[2016-11-22 20:23] parrt commented on #1385
Hi. Yep, it is splitting off the os x builds now but for some reason that "machine" is so slow that it times out consistently. I did turn off cpp for os x build.

appveyor is infinitely faster and has no problem cranking through these tests I notice.  Oh, it doesn't seem to do C++. odd. See https://ci.appveyor.com/project/parrt/antlr4/build/4.6-SNAPSHOT+AppVeyor.12   Maven *should* run cpp tests b

[2016-11-22 20:29] parrt opened #1393 "javascript visitor has problems with (recursive rules and?) alt labels"
From [stackoverflow](http://stackoverflow.com/questions/36758475/antlr4-javascript-target-issue-with-visitor-and-labeled-alternative/39180194#39180194):

*In runtime source code, ParseTreeVisitor.visit in the latest javascript runtime(4.5.2) is a bit different from python2 version(4.5.3). In python2 version, ParseTreeVisitor.visit leverage RuleContext.accept method to trigger different visitor eve

[2016-11-22 20:31] parrt commented on #1096
Dup of https://github.com/antlr/antlr4/issues/1295 I think.

[2016-11-22 20:31] #1096 closed

[2016-11-22 20:40] parrt commented on #1387
please simplify this example.  I have no idea what's going on here.   For example, get rid of the subclass. I need to see something that is specifically wrong with ANTLR.

[2016-11-22 20:44] parrt commented on #1282
@randomnum try getLine() etc...?

[2016-11-22 20:44] #1282 closed

[2016-11-22 20:45] #1281 closed

[2016-11-22 20:49] #1280 closed

[2016-11-22 20:50] #1274 closed

[2016-11-22 20:51] parrt commented on #1385
Fixed. see https://travis-ci.org/antlr/antlr4/jobs/178089136

[2016-11-22 20:51] #1385 closed

[2016-11-22 20:58] parrt commented on #1265
@ericvergnaud looks like no test is coming. should we just fix it?

[2016-11-22 21:00] parrt commented on #1257
Hi. `<s; format="Cap">` should work for you to capitalize all strings. StringRenderer is registered with ST for code gen I think.

[2016-11-22 21:00] #1257 closed

[2016-11-22 21:02] parrt commented on #1254
Closing in favor of discussion here https://github.com/antlr/antlr4/issues/1286

[2016-11-22 21:02] #1254 closed

[2016-11-22 21:03] parrt commented on #1252
Fixed by https://github.com/antlr/antlr4/pull/1172

[2016-11-22 21:03] #1252 closed

[2016-11-22 21:04] #1262 closed

[2016-11-22 21:20] mike-lischke commented on #1385
Hmm, but it's still close to the timeout limit. Add another target or a couple new tests and you might hit it again.

[2016-11-22 21:20] parrt commented on #1284
Fixed with https://github.com/antlr/antlr4/commit/f3215d73d8900d45178c9d88c2aab2bb8c1ba680

[2016-11-22 21:20] #1284 closed

[2016-11-22 21:27] parrt commented on #1241
@ericvergnaud  has the documentation been updated in any of our PRs?

[2016-11-22 21:28] parrt commented on #1240
hi.  A decent idea but I'm mainly in bug fix mode these days so I'm going to close. thanks.

[2016-11-22 21:28] #1240 closed

[2016-11-22 21:29] #1237 closed

[2016-11-22 21:31] parrt commented on #1234
Can you give me a link to the page with that link?

[2016-11-22 21:32] parrt commented on #1385
yeah, no doubt.  I removed all but swift from os x target.

[2016-11-22 21:33] parrt commented on #1232
You have hit a nonlinearity in the parsing algorithm. @sharwell  and I are discussing an improvement.

[2016-11-22 21:35] parrt commented on #1223
Yes, a semantic predicate really needs to check that the columns are next to each other. lexer backtracking will not help you here.  only context can tell you what you can expect.

[2016-11-22 21:35] #1223 closed

[2016-11-22 22:03] parrt commented on #1224
Hmm..it looks like your listener is pass a token error to the parser error handler:

[code]

either don't do that or maybe change the token you pass to equiv of this (which I put in Lexer#notifyListeners()):

[code]

[2016-11-22 22:03] #1224 closed

[2016-11-22 22:04] #1199 closed

[2016-11-22 22:06] parrt commented on #1213
[code]

[2016-11-22 22:08] parrt commented on #1226
ANTLR's lexer will emit "bad token" error for `;` but from then on it's not an error. Parser will not see it.

[2016-11-22 22:08] #1226 closed

[2016-11-22 22:21] #1188 closed

[2016-11-22 22:22] parrt commented on #1216
Closing as all tests pass now.

[2016-11-22 22:22] #1216 closed

[2016-11-22 22:23] parrt commented on #1192
Hi. I'm going to  close this as I don't think I will get around to any kind of fix. thanks anyway.

[2016-11-22 22:23] #1192 closed

[2016-11-22 22:57] parrt commented on #1323
Dup of #994

[2016-11-22 22:58] parrt commented on #1232
Dup of #994

[2016-11-22 22:58] #1232 closed

[2016-11-22 22:59] parrt commented on #1320
Dup of #994

[2016-11-22 23:05] #1211 closed

[2016-11-22 23:08] ereyes01 opened #1397 "Go target generated code for Java.g4 grammar doesn't compile"
Before submitting an issue to ANTLR, please check off these boxes:

- [*] I am not submitting a question on how to use ANTLR; instead, go to [antlr4-discussion google group](https://groups.google.com/forum/#!forum/antlr-discussion) or ask at [stackoverflow](http://stackoverflow.com/questions/tagged/antlr4)
- [*] I have done a search of the existing issues to make sure I'm not sending in a duplicat

[2016-11-22 23:16] ereyes01 commented on #1397
I should also note, I have gotten JSON.g4 to work with the Go target, and have been able to play with the generated parser apis...

[2016-11-22 23:23] peterennisrda commented on #1234
Here:
![capture297](https://cloud.githubusercontent.com/assets/1280523/20546030/947d5808-b0c7-11e6-940a-b29f2627158d.PNG)

[2016-11-22 23:35] ericvergnaud commented on #1393
already fixed

[2016-11-22 23:36] ericvergnaud commented on #1312
I need to double check

[2016-11-22 23:39] ericvergnaud commented on #1265
will do

[2016-11-22 23:41] ericvergnaud commented on #1241
need to check

[2016-11-23 02:17] sharwell opened #1398 "Implement dynamic disambiguation of left-recursive rules during closure"
## Background

Since the early days of ANTLR 4, we've known that long lookahead inside of left-recursive (LR) rules poses "interesting challenges" for performance. The earliest approaches to this problem were attempts to inline the evaluation of special "precedence predicates" during prediction, rather than treat them as standard predicates that are only evaluated after an SLL conflict is reached.

[2016-11-23 07:20] WolfgangFahl commented on #1232
Excellent it is good to see some progress here. I think pointing out a non linear situation would already be a good start.

[2016-11-23 08:53] ikeas68 commented on #1387
i have find a solution
adding
**- protected boolean checkMnemonic(){ return false; }
- protected boolean checkPilot(){ return false; }**

and change predicate for
**MNEMONIQUE			: [A-Za-z\.0-9_]+ { checkMnemonic() }? ;
PILOT				: [A-Za-z\.0-9_]+ { checkPilot() }? ;**

`/**
 * Define a grammar called TEST
 */
grammar Test;

@header
{
	package fr.clemessy.ast.syclone.server.calcul.antlr;
}

@lexer::

[2016-11-23 10:22] KvanTTT commented on #1397
You should remove target-specific (Java) semantic predicates from grammar such as [{Character.isJavaIdentifierStart(_input.LA(-1))}?](https://github.com/antlr/grammars-v4/blob/master/java/Java.g4#L983) and other.

[2016-11-23 22:51] ereyes01 commented on #1397
I see, this makes sense. Thanks for the quick reply! I'll try this out later this evening...

[2016-11-23 22:58] parrt commented on #1398
Adding my own interpretation after Sam and I simplified in our minds. Consider slightly simpler grammar:

[code]

The (annotated) ATNs are:

<img src=https://cloud.githubusercontent.com/assets/178777/20579728/4e751bae-b183-11e6-8fcd-a341b8d943bb.png width=900>

where `expr` is rewritten to be the following rule:

[code]

The closure of a StarLoopEntryState (state 23) in a rewritten LR rule include

[2016-11-24 18:04] syn-ful opened #1401 "(Golang target) More than one rule element label in parser rule generates golang code that is unable to compile"
Before submitting an issue to ANTLR, please check off these boxes:

- [x] I am not submitting a question on how to use ANTLR; instead, go to [antlr4-discussion google group](https://groups.google.com/forum/#!forum/antlr-discussion) or ask at [stackoverflow](http://stackoverflow.com/questions/tagged/antlr4)
- [x] I have done a search of the existing issues to make sure I'm not sending in a duplicat

[2016-11-24 20:36] sharwell opened #1402 "Prefix rules that also recurse are not detected"
In a left-recursive rule `expr`, alternatives like the following are not detected as "prefix" form.

[code]

When the LR rule is rewritten, both of these references have precedence 0. It was expected that the reference on the right edge would be given a precedence greater than zero according to the precedence hierarchy for the rule.

[2016-11-24 20:59] #1402 closed

[2016-11-25 03:28] ereyes01 commented on #1397
I removed the inline Java code from the grammar and now I'm left with:

[code]

In the generated code:

[code]

The code above was inside the parser for this rule in Java.g4:

[code]

Not sure if this is the same problem encountered in #1401 ?

[2016-11-25 04:30] #994 closed

[2016-11-25 04:30] #1398 closed

[2016-11-25 04:32] parrt commented on #994
Ok, @sharwell came up with an optimization that gives like 10,000x performance on big expression input such as this.  Just merged a slight variation on Sam's implementation.

[2016-11-25 04:45] sharwell commented on #994
@danielsun1106 I've merged this into my optimized branch (which you are using now) as well in sharwell/antlr4@f5776dd4, so if you have the ability to build from source you could try that already. Otherwise I'll be pushing a patch release soon (next couple of days) and you can try that.

[2016-11-25 06:18] danielsun1106 commented on #994
@sharwell I'd like to have a try in a day or two via building from source. As you know, groovy-parser project contains about 13000 test cases. We should see massive performance improvement after using the recently optimized version. That would be really great :)
Thanks for your nice work!

[2016-11-25 06:31] WolfgangFahl commented on #994
Thanx - this looks good. My checking will have to wait until end of december. I am definitely curious to see the effects and see that the other testcases in my project are not effected.

[2016-11-25 19:56] parrt commented on #1302
If you send the whitespace to the parser on a hidden channel, you don't have to have matching of whitespace inside the parser but you still get the full input stream.

[2016-11-25 19:58] parrt opened #1407 "Check PATH for target executables like `go`"
currently we look in a special list, that is UNIX specific. better to also check the PATH.

[2016-11-25 20:13] parrt commented on #1234
I have asked them to update but in the meantime, here is the link https://dzone.com/articles/qa-with-terence-parr-on-antlr

[2016-11-25 20:13] #1234 closed

[2016-11-25 20:14] #1393 closed

[2016-11-25 20:15] #1387 closed

[2016-11-25 20:54] parrt commented on #1392
Looks like we got some initial doc here from @janyou https://github.com/antlr/antlr4/pull/1396 so I will close but feel free to update guys.

[2016-11-25 20:54] #1392 closed

[2016-11-25 20:56] parrt commented on #1283
@Nickolay-Suslov got a simple example?

[2016-11-25 20:57] parrt commented on #1278
likely duplicate of https://github.com/antlr/antlr4/issues/1295

[2016-11-25 20:57] #1278 closed

[2016-11-25 21:01] #1238 closed

[2016-11-25 21:02] parrt commented on #1235
sorry but I really don't understand this bug report.

[2016-11-25 21:02] #1235 closed

[2016-11-25 21:03] parrt commented on #1243
@renatahodovan  could this be related to https://github.com/antlr/antlr4/issues/994 ?  Are you trying to parse very large expressions with a left recursive rule perhaps? Or maybe it is a hash code issue that JavaScript had https://github.com/antlr/antlr4/pull/1408? @ericvergnaud  any ideas?

[2016-11-25 22:42] gagern commented on #1407
Make that “instead” instead of “also”: if you check for `PATH` you don't have to check for fixed paths. And I'd say “checking” something on the path works best by simply executing the thing by name, with no path at all. At least if the name is known. In the case of `nodejs` vs. `node` it might make sense to try executing one and use the other instead if that fails. A similar situation might arise

[2016-11-26 18:02] marcospassos opened #1409 "Add support to label rules of mixed types"
Currently it's allowed to label rules of mixed types, however it compiles to an invalid code.

[code]
The generated parser will contain a `value` property which type is `StringContext` (because it was declared later). IMHO, the most appropriate behaviour is to declare the property as `ParserRuleContext` (all rules) or `ParseTree` (rules and tokens).

[2016-11-26 18:34] sharwell commented on #1409
Overall I like this idea. In TypeScript we can actually make the return type `(IntegerContext | StringContext)`. That said, my bigger recommendation is to avoid using labels where possible for two big reasons:

1. Labels are not set in some error handling scenarios, but using the generated accessor methods `integer()` and `string()` will work in these same scenarios.

2. Labels increase the memory

[2016-11-26 19:44] parrt commented on #1407
Sure. go for it. I'll review right away (put my @parrt) in the PR. for this PR, please focus on just the PATH part. thanks!

[2016-11-27 07:19] JitCompiler opened #1410 "Weird Semantic Predicate Behaviour, Bug?"
Issue also described here:
[http://stackoverflow.com/questions/40818464/weird-semantic-predicate-behaviour-in-antlr4-could-be-a-bug](url)

Here is a working subset of  a C parsing grammar. It can only parse the input shown below but is enough to illustrate the problem. Note it is following the traditional method to define operator precedence:

[code]
Invocation rule is `translation_unit` and the i

[2016-11-27 11:43] JitCompiler commented on #1410
problem solved. See my own answer in stackoverflow

[2016-11-27 11:43] #1410 closed

[2016-11-27 11:56] KvanTTT opened #1411 "ANTLR generates a wrong lexer code if type, channel or mode commands use inproper identifier"
Consider the following simple grammar:

[code]

### Actual behavior

ANTLR generates inproper lexer which throws an NRE exception during parsing process (C# Sharwell runtime).

### Expected behavior

ANTLR should show 3 errors about wrong type, channel and mode identifiers in respective commands and should not generate inproper lexer.

[2016-11-28 00:50] renatahodovan commented on #1243
@parrt Yes, it might be related to recursive rules - it was my first thought too -, although I don't know how to fix it. On the other hand, Python has its own hash function - unlike JavaScript - so I don't think that we could outperform that with a new implementation.
I've attached a slightly minimized version of my original test case. It's now ~20KB of valid ECMAScript code. The parsing takes ~50

[2016-11-28 07:25] ikeas68 opened #1415 "to improve language translation"
in DefaultErrorStrategy class we have message for error
but for two functions they have no expection raised
[code]

is it possible to have new exception for this two functions ? for language error translation text it's better to have the same result as reportInputMismatch for example ...

[2016-11-28 11:15] SomnathB opened #1416 "antlr4 - unable to identify/parse multi-line sql comment"
I am using Antlr4 for parsing oracle grammer. I am trying to read oracle file(PLSQL) as input and convert it to equivalent T-SQL construct. I have used the grammer file for plsql present in github @ - https://github.com/antlr/grammars-v4/blob/master/plsql/plsql.g4

The exact grammar which address multiple-line and single-line comment is

SINGLE_LINE_COMMENT: '--' ( ~('\r' | '\n') )* (NEWLINE|EOF)

[2016-11-28 11:52] KvanTTT commented on #1388
Maybe it's better to use warning instead of error for this issue.

[2016-11-28 13:05] jsterk opened #1418 "Where did the DanMcLaughlin C++ repo go?"
The antlr-discussion list points a C++ issue to

    https://github.com/DanMcLaughlin/antlr4/issues/49

But this repository no longer exists. Where is the C++ repo now? Should we put issues in the main repository?

Thanks.

[2016-11-28 16:44] parrt commented on #1243
If Java target was fast on it, then it's not the new optimization; likely hash function issue?

[2016-11-28 17:00] marcospassos opened #1420 "Consider introducing an error code property to RecognitionError"
Our team is facing a very basic problem with Antlr4: we need to throw exceptions for specific syntax errors, but we need to identify each of theses errors. We cannot just extend the classes adding a  error code, because it need to be done at the root class, the `RecognitionError`. Once Antlr uses errors not only to tell that a error happened, but also as a signal to triggers actions according to t

[2016-11-28 18:00] KvanTTT commented on #1388
I prepared a list of command sets.

### Reduntant
* mode(MODE1), pushMode(MODE2) - first command ignored.
* mode(MODE1), popMode - first command ignored.
* pushMode, popMode - no command.
* popMode, pushMode - no command.

### Possible but too complex (why?)
* pushMode(MODE1), mode(MODE2) - push MODE1 and straight switch to MODE2.
* popMode, mode(MODE2) - pop mode and straight switch to MODE2.

##

[2016-11-28 18:15] sharwell commented on #1388
Some corrections to the previous list:

* `mode(MODE1), pushMode(MODE2)`: This is not redundant. The use of `mode` changes the return state for the following `popMode`.
* `popMode, pushMode(MODE1)`: This is equivalent to `mode(MODE1)` when the stack is not empty, but would throw an exception if the stack is empty.
* `pushMode(MODE1), mode(MODE2)`: Equivalent to `pushMode(MODE2)`.

[2016-11-28 18:29] parrt commented on #1420
Can't you just implement an `ANTLRErrorStrategy`?

[2016-11-28 18:29] parrt commented on #1418
C++ has been integrated into master

[2016-11-28 18:29] #1418 closed

[2016-11-28 18:30] parrt commented on #1415
Can you implement an `ANTLRErrorStrategy`?

[2016-11-28 18:33] parrt commented on #1416
Shouldn't that be `MULTI_LINE_COMMENT: '/*'...`?  If you get ParseCancellationException then you are using bail error strategy. try not using that and see what it says.

[2016-11-28 18:33] #1416 closed

[2016-11-28 18:35] parrt commented on #1397
@pboyer for you, sir!

[2016-11-28 18:36] marcospassos commented on #1420
No. Let's suppose we want to notify about a specific error, such as a missing closing parenthesis. It's a syntactic error, that we would like to throw from a rule action and catch in the listener. But, of course, we don't want to compare the error message, so we need something more reliable. Errors strategies do not help much here.

[2016-11-28 18:41] marcospassos commented on #1420
Long story short, this is what we're trying to do:
https://github.com/antlr/antlr4/blob/9a027e22971308161d4b4f08c4e23488136ca170/tool/src/org/antlr/v4/tool/ErrorType.java

[2016-11-28 18:41] parrt commented on #1420
How about rewriting this default method:

[code]

so you pass a new exception to `recognizer.notifyErrorListeners()`?

[2016-11-28 18:42] parrt commented on #1420
that new exception can wrap old one or be totally new

[2016-11-28 18:43] charlag opened #1421 ""Getting started" should say "javac *.java" instead of "javac Hello*.java""
- [x] I am not submitting a question on how to use ANTLR; instead, go to [antlr4-discussion google group](https://groups.google.com/forum/#!forum/antlr-discussion) or ask at [stackoverflow](http://stackoverflow.com/questions/tagged/antlr4)
- [x] I have done a search of the existing issues to make sure I'm not sending in a duplicate

The "Getting Started" example won't work because not all files wi

[2016-11-28 18:48] marcospassos commented on #1420
Yes, but we still need a way to distinguish the errors caught in the error strategy. I can't just extend the `RecognitionException`, because there are other exception classes like `FailedPredicated` and `NoViableAlt` that are expected from the parsing engine. By the other hand, I can't just create one class per exception, otherwise we'll end up with [dozens of exception classes](https://github.com

[2016-11-28 19:16] parrt commented on #1420
Why not just create a single MarcoWrapperException with a field containing the appropriate error code and then wrap all exceptions coming from ANTLR in that?

[2016-11-28 20:32] KvanTTT commented on #1388
@sharwell I fixed the table with your corrections except for first one. How `mode` command changes the state for the following `popMode`?

Also I missed the fact that two `pushMode` or `popMode` commands actually are not duplicated.

[2016-11-28 23:44] sharwell commented on #1388
@KvanTTT

 `pushMode(X)` pushes the current mode onto stack, and then sets the current mode to `X`. Suppose you are in mode `A` and execute the following sequence:

1. Start in mode `A` with the stack `[]`
1. `mode(B)`: Now we are in mode `B` with the stack `[]`
1. `pushMode(C)`: Now we are in mode `C` with the stack `[B]`
1. `popMode`: now we are in mode `B` with the stack `[]`

If we did not exe

[2016-11-29 00:29] marcospassos commented on #1298
I can confirm it. We face the same problem when parsing the expression `1 > > 3`.

@parrt, we'd to fix it before releasing 4.6. Could you please guide us in how we may help you fixing it?

[2016-11-29 00:30] parrt commented on #1298
i want to fix too :) i'll get to it

[2016-11-29 00:33] marcospassos commented on #1298
Please, let me know if we can help in some way :)

[2016-11-29 01:26] thosakwe commented on #1367
@parrt I plan to finish by this week

[2016-11-29 01:34] parrt commented on #1367
Wow, really @thosakwe ? Including getting the runtime test thingy working? You can use other targets as a model.

[2016-11-29 01:37] marcospassos commented on #1298
@parrt I believe it related to this bug.

Given the grammar:
[code]

When I parse the following malformed expression:
[code]

[2016-11-29 01:38] parrt commented on #1367
Note that all contributors must sign the contributors.txt file. thanks!

[2016-11-29 01:40] thosakwe commented on #1367
Already signed it. :)

Java and Dart are very similar. Plus, much of the old Dart runtime can be
upgraded with minimal friction.

The tests will take some time, but hopefully it only takes a few days.

On Nov 28, 2016 8:38 PM, "Terence Parr" <notifications@github.com> wrote:

Note that all contributors must sign the contributors.txt file. thanks!

—
You are receiving this because you were mentione

[2016-11-29 01:41] parrt commented on #1367
We would need @tiagomazzutti to sign also unless you are redoing from scratch.

[2016-11-29 05:19] SomnathB commented on #1416
It already has a '/*'. I think there was an issue copy-pasting above :)

SINGLE_LINE_COMMENT: '--' ( ~('\r' | '\n') )* (NEWLINE|EOF) -> skip;
MULTI_LINE_COMMENT: '/*' .*? '*/' -> skip;

[2016-11-29 06:16] ewanmellor commented on #945
@parrt This can be closed now, following the work in #1319.

[2016-11-29 06:49] ewanmellor commented on #1184
Swift support (derived from janyou's branch above) is in master now.

[2016-11-29 07:53] ikeas68 commented on #1415
yes i have implemented SycloneErrorStrategy
extend DefaultErrorStrategy

and override
reportUnwantedToken
and
reportMissingToken

for create UnwantedTokenException (in reportUnwantedToken)
and MissingTokenException (in reportMissingToken)

but i think it's better if in error raised we have the same behavior in
each raised function ....

code for sample :
public class SycloneErrorStrategy extends D

[2016-11-29 12:33] KvanTTT commented on #1388
@sharwell thank you for the explanation. I got it and fixed the table. I decided not to resolve cases with `pushMode` and `popMode` commands. I'll fix cases with `skip`, `more`, `type` and `channel` commands.

[2016-11-29 15:25] KvanTTT opened #1425 "Redefenition error for tokens with identical name from section and from declaration"
Consider the following grammar:

[code]

### Expected behavior
ANTLR should generate two redefenition errors for tokens `TEST1` and `TEST2`.

### Actual behavior
ANTLR generates redefinition error for only `TEST2` token.

[2016-11-29 15:38] parrt commented on #1416
Are you missing `.*?` as well?

[2016-11-29 15:38] #945 closed

[2016-11-29 15:40] sharwell commented on #1425
❓ What happens for the following grammar?

[code]

💭 I'm not actually sure we have a redefinition of `TEST1` at all. In ANTLR 3, you could assign a literal value to a token in a `tokens{}` block. That is no longer possible, which means there's no way in ANTLR 4 to have a true conflict here (multiple definitions for the same token).

[2016-11-29 16:03] sharwell commented on #1411
I can't think of a case where it makes sense to reference a constant of a different type than the lexer command supports. So I'm 👍 on making these cases errors.

[2016-11-29 16:06] KvanTTT commented on #1411
I encountered with this problem during merging two lexer grammars. So, this issue is actual.

[2016-11-29 16:09] sharwell commented on #1411
I would propose the following specific new errors.

:memo: In #1417 I requested no changes to existing errors to simplify that review. I think it makes sense to add these new error types in a follow-up commit (or even a separate pull request), but wait for @parrt to give feedback on them. I already checked that these error numbers are not in use here or in my fork.

[code]

[2016-11-29 18:07] parrt opened #1428 "getExpectedTokens() doesn't consider FOLLOW set"
Bruno LETRESTE points out:

[code]

for exemple in this case, if i have `( ID` I get `expected token return +` but it should have `)` as well.

[2016-11-29 19:51] robbert229 commented on #659
You will need to make some serious changes to the cypher grammar to make it work with antlr. The grammar itself has values like `return` which causes errors because of the reserved keyword `return`.

I ran into the same issue while attempting to make a parser/lexer via antlr for cypher last week. I haven't cleaned everything up yet myself...

@johnnadratowski

[2016-11-29 20:50] saifellafi opened #1429 "Generated code works fine in java but hangs forever in Python 3"
Hello,

I am parsing SAS code, which at a specific situation it has a possibility of writing single line comments:

`*this is a comment;`

the thing is, this may also happen:

`v = 5 * 29; *the * 29 is a multiplication, not a comment. but this is a comment`;

So I created this LINE_COMMENT grammar identifier:

`LINE_COMMENT    :   ([\r\n]+|';') '*' ~[\r\n;]* ';' -> channel(HIDDEN) ;`

which works

[2016-11-29 20:57] saifellafi commented on #1429
I realized I need to have a new line before the comment for it to work.
Not sure if there is a better way to do this though.

[2016-11-29 20:59] johnnadratowski commented on #659
@robbert229 - Once again, I'm very much a novice at this, but it seemed that after I resolved some simple name conflicts it was able to properly parse it.  I can send you what I did, it was super simple (literally just renaming 2 items)

[2016-11-29 21:05] saifellafi commented on #1429
I was not completely wrong. Even with a new line, this grammar is making the code on Python3 hang for ever upon execution

`LINE_COMMENT    :   ([\r\n]+|';') '*' ~[\r\n]* ';' -> channel(HIDDEN) ;`

[2016-11-29 21:14] KvanTTT commented on #1202
Maybe something like `override` modifier should be used?

[2016-11-29 21:41] saifellafi commented on #1429
To my surprise, even this takes 5 minutes to run

`LINE_COMMENT    :   '*Some comment;' -> channel(HIDDEN) ;`

[2016-11-29 21:43] sharwell commented on #1429
@saifellafi It sounds to me like you have a semantic predicate in your grammar. Can you do a search for `}?` in your grammar and include a copy here of all lexer rules that it's found in?

[2016-11-29 21:45] saifellafi commented on #1429
Thank you @sharwell but I havent found any `}?` on my grammar rules

[2016-11-29 21:52] saifellafi commented on #1429
I think this was misleading. It does not have anything to do with the problem mentioned above.
The issue is that, as I made it so a multiplication isn't a comment, actual code to parse is bigger.

By completely removing all the comments and comment line rule, python is taking around 3 to 4 minutes to execute on a 60 lines text.

The slowness problem is somewhere else in all my grammar file.

[2016-11-29 22:46] saifellafi commented on #1429
Slowness problem comes from a simple recursive grammar:

[code]

The mere existence of **one** ELSE statements in the target text takes the time from 4 seconds to about ~3-4 minutes

[2016-11-29 22:51] sharwell commented on #1429
@saifellafi Can you try writing `assignment` as the following?

[code]

:bulb: This is one of the reasons I started work on a `baseContext` option. While not currently implemented in the reference release of ANTLR, the option would allow you to write the following to get the *performance* of the form I posted here while getting the *parse tree* of your original grammar.

[code]

[2016-11-29 22:55] sharwell commented on #1429
@saifellafi Can you post `assign_stmt` rule as well?

[2016-11-29 22:59] saifellafi commented on #1429
[code]

[code]

[2016-11-29 23:06] sharwell commented on #1429
You might be hitting the issue we fixed just days ago (#994). Specifically, the decision `(assertion|expression)` needs to look through a complete `expression` to make a decision.

What happens if you rewrite `assertion` like this?

[code]

[2016-11-29 23:11] saifellafi commented on #1429
Thank you @sharwell . just tried that but nothing changed. still slow with one ELSE.

[2016-11-29 23:52] sharwell commented on #1429
Yeah, it's really likely this is at least impacted by the recent improvements. They were merged into the Python target in #1427 but I don't know what that means for release.

[2016-11-29 23:53] saifellafi commented on #1429
Thank you @sharwell . I am starting a mid-long term project. So I might be considering moving to Java then, as it looks like parsing times are considerably faster. Will be waiting for release!

[2016-11-30 02:48] robbert229 commented on #659
@johnnadratowski The two changes that you made I made as well, they were my first step towards getting the go runtime working.

Additionally just wanted to say that I love your go bolt driver!

[2016-11-30 03:58] pboyer commented on #1397
Thank you @ereyes01! I'll take a look at this tomorrow.

[2016-11-30 04:02] bingsumin opened #1430 "How can I combine 2 grammars?"
Hi Thx for reading my issues

I want to combine two grammars from Script and HTML.
So when I insert HTML texts and a parser arrive a script statement
 which like  "scriptopen body* scriptclose" in HTML texts ( scriptopen means "<script>" )
then I want to send body text to another parser for script language.
(it means another parser's start statement is like body*)
or I want to use multiple grammar

[2016-11-30 04:23] pboyer commented on #1397
@ereyes01 Would you mind including your modified Java.g4 grammar as well?

[2016-11-30 04:24] pboyer commented on #1401
At first glance, this would appear to be fixed by: https://github.com/antlr/antlr4/pull/1423

[2016-11-30 04:32] ereyes01 commented on #1397
Here's the patch I applied to Java.g4:

[code]

Thanks!

[2016-11-30 04:35] syn-ful commented on #1401
Thanks @pboyer.  I was just getting ready to submit my own PR.  Glad you pointed that out.  I definitely think that will solve that problem.  I'm seeing another problem with fuzzy parsing.  I think it's similar to what @ereyes01 is seeing now.  I'll submit a separate bug for that issue.

[2016-11-30 08:01] millergarym commented on #1401
@pboyer I haven't tried it, but #1423 should fix this.
@syn-ful If you would like to test it you can find a built Antlr4 and easily go gettable code at https://github.com/millergarym/antlr4-go

[2016-11-30 15:46] #1430 closed

[2016-11-30 16:12] johnnadratowski commented on #659
@robbert229 - Thanks, depending on how this initial learning went, I was thinking about adding some pre-flight cypher checks in the driver.

If you're interested in collaborating on antlr and/or the driver let me know.

[2016-11-30 17:26] syn-ful commented on #1401
Thanks @millergarym.  I just validated that this issue is fixed by https://github.com/antlr/antlr4/pull/1423.  Looks like I'm running into the same issue that https://github.com/pboyer/antlr4/pull/90 should fix now.

Thanks for the responses.

[2016-11-30 18:38] KvanTTT opened #1433 "[RFC] New moreOrNew and lessOrNew lexer commands"
I suggest to consider a new `lessOrNew(TOKEN_TYPE)` and `moreOrNew(TOKEN_TYPE)` commands with or without argument. The first command equivalent to `less` command if previous token type equal to command argument token type. Otherwise it is equivalent to `type(TOKEN_TYPE)` command. If command does not have an argument than token type considered as declaration token type. I prepared a such simple pse

[2016-11-30 19:12] sharwell commented on #212
@KvanTTT wrote:

This is not how the `less` command would work. After a token is emitted (in your case `MultilineComment` emits a token), that token cannot be modified. ANTLR lexers are pull-based lexers that match and emit exactly one token on demand, at which point recognition stops until the next token is matched.

If implemented, the `less` command would work exactly like `more`, except that i

[2016-11-30 19:20] sharwell commented on #1433
Right now I'm :-1: for the single reason that I'm still not clear about what the command does. In my mind, if I find the command confusing then I assume it will be even more difficult to explain to other people how the feature would be valuable to them.

Between this issue and #212, I think what I really need to see right now is a concrete and complete example of processing Javadoc comments using

[2016-11-30 19:36] samtatasurya opened #1434 "Different getText() behavior for C++ target"
Hi,

I am currently trying out ANTLR 4 C++ target. Although I understand that it is still in development, I noticed one bug that results in different behavior when using `getText()` than that of Java target.

In C++, `getText()` returns a string in which the tokens are separated by a comma and a space, i.e. `", "`. On the other hand, Java target returns a string which results from direct appending

[2016-11-30 21:02] pboyer commented on #1397
@ereyes01 If you get the chance, do you think you can try out this fix? https://github.com/pboyer/antlr4/pull/90

If not, I should be able to get to it tomorrow.

[2016-11-30 21:39] Pursuit92 opened #1435 "[Cpp] Separate parser/lexer instances not threadsafe"
I'm aware that a single instance of the parser/lexer objects cannot be shared across threads, but I'm seeing behavior where instances created/destroyed/never leaving their thread interfere with completely separate instances on other threads.

It appears that something in the atn prediction cache is to blame, at least to one not terribly familiar with the internals. Calling the parser once in the m

[2016-11-30 21:47] sharwell commented on #1435
It looks like the DFA in the C++ target did not implement a concurrent set for the `states` field. There is a `_mutex`, but it is defined on the recognizer where it actually needs to be defined on the DFA.

:memo: This analysis only covers one clear point of failure. Other code may exist which precludes the use of this target in multithreaded scenarios.

[2016-11-30 21:53] sharwell commented on #1223
:memo: We don't even need a semantic predicate here. The whitespace check should appear in a listener which runs after the parse tree is created and reports errors if the `<` or `>` characters are not in sequence.

[2016-11-30 21:54] Pursuit92 commented on #1435
Yeah, I noticed a lot of similar scenarios across the codebase where the wrong thing was getting locked. Pretty much every place in the java runtime where you see `synchronized(thing)`, the Cpp runtime is only locking `this` rather than the `thing`. I tried fixing those where I could, but still had the same problems.

[2016-11-30 21:55] sharwell commented on #1435
@Pursuit92 The hart part isn't the locks. The hard part is the many places where I omitted locks altogether and rely on the Java Memory Model to provide correct lock-free behavior in concurrent scenarios, especially on the fast path.

[2016-11-30 23:09] Pursuit92 commented on #1435
I figured that was probably the case. Making all of the static things also thread_local fixes the race condition for obvious reasons, but might hurt performance (or at least prevent potential speedups). Potentially a short-term fix until someone can take the time to fix the actual races?

[2016-11-30 23:14] sharwell commented on #1435
This would also force parser instances to have thread affinity. In addition to the fact that parser instances are already not allowed to be used concurrently from multiple threads, you would now be in a situation where a parser instance is only allowed to ever be used from the thread on which it was created. The reason for this is the static variable holding the ATN for a parser is copied into an

[2016-11-30 23:33] Pursuit92 commented on #1435
I'd take that over being unable to use separate instances of the parser concurrently.

How common is the scenario where a parser is instantiated on one thread and used non-concurrently on others? and would that somehow perform better than having multiple concurrent parsers tied to their threads?

[2016-12-01 01:53] ereyes01 commented on #1397
@pboyer it works :+1: thanks!

[2016-12-01 03:34] pboyer commented on #1397
Thanks so much for checking, @ereyes01!

[2016-12-01 07:55] mike-lischke commented on #1434
In an attempt to make the getText() output more readable I adjusted the producing code. But later I found that this output is also used in testingm, so I reverted it mostly. If there is still something left like here this just needs to be made like it is done in the Java target. The getText() function is rather a debugging means, so it's output format really shouldn't matter (but easily consumable

[2016-12-01 08:06] samtatasurya commented on #1434
Hi Mike, thanks for the reply.
So, would you suggest to leave the current C++ `getText()` as-is?

[2016-12-01 08:08] mike-lischke commented on #1434
I wrote: "If there is still something left, like here, then it just needs to be made like it is done in the Java target." and this is one of the things that must be changed back yet. If you like you can do it yourself and offer a patch here.

[2016-12-01 08:11] samtatasurya commented on #1434
Okay noted. I misunderstood your full explanation earlier.

[2016-12-01 08:13] jkra commented on #1283
is it solved? I have the same problem, but using antlr-cpp...

here is an example with a simple grammar:

optionalDecl
    : 'hello' ('optional')? ';'
    ;

with the input "hello " I get a syntax error (missing ';') -> ok, but in my error handler (based on BaseErrorListener::syntaxError()) I would expect that parser-getExpectedTokens() gives me 'optional' as expected token too (beside ';') ... bu

[2016-12-01 08:33] jkra commented on #1283
after some googleing it seems that with

optionalDecl
    : 'hello' ('optional' | ) ';'
    ;

it works -> antlr4 is such a great tool :)

[2016-12-01 09:30] ewanmellor opened #1439 "ParseTreePatternMatcher.swift:compile has incomplete error handling"
I don't know what the intention is with this code from ParseTreePatternMatcher.swift:compile, but it is clearly incomplete:

[code]

I found this by looking for uses of `ANTLRException.cannotInvokeStartRule`, which turns out to be unused at the moment other than in this commented-out code.

@janyou Did you have anything in mind here?

[2016-12-01 09:56] SomnathB commented on #1416
.*? is also present.

[2016-12-01 12:07] janyou commented on #1439
Sorry, it should be forgotten.
it is a problem how to implement the **e.getCause()** mechanism in Swift.

[2016-12-01 18:40] parrt commented on #1416
without a complete (small) grammar. I can't help.

[2016-12-01 18:49] parrt commented on #1397
Fixed by https://github.com/antlr/antlr4/pull/1436

[2016-12-01 18:49] #1397 closed

[2016-12-01 19:02] parrt commented on #1401
@millergarym @pboyer can I close this now?

[2016-12-02 05:03] pboyer commented on #1401
Yup @parrt. Cc @syn-ful

[2016-12-02 05:37] SomnathB commented on #1416
This link will have the grammar.

https://github.com/antlr/grammars-v4/blob/master/plsql/plsql.g4

There the grammar specifies.

"//{ Rule #097 <COMMENT>
SINGLE_LINE_COMMENT: '--' ( ~('\r' | '\n') )* (NEWLINE|EOF) -> channel(HIDDEN);
MULTI_LINE_COMMENT: '/*' .*? '*/' -> channel(HIDDEN);"

My input sql file is

/* Formatted on 7/15/2015 5:37:14 PM (QP5 v5.163.1008.3004)

Author: Anyname

Anything

[2016-12-02 05:37] SomnathB commented on #1416
Does it help ? Or do you require additional details ?

[2016-12-02 06:09] SomnathB opened #1442 "Help Needed in Antlr parsing performance issue"
We are facing issues with antlr performance for parsing oracle files. The oracle files for conversion has significant large size 17/24/38 mb files. While building the parsetree, it taking a lot of time and memory. Its  even giving core OOM dump. We tried disabling the building of parse tree, however that doesnot work as the walker doesn’t go thru the files and generates a blank file. We tried to u

[2016-12-02 06:54] sharwell commented on #1442
This behavior is highly dependent on the actual grammar in use, and to a lesser extent the input. If possible, can you include those?

Also, have you tried running with my fork of ANTLR (it's in the com.tunnelvisionlabs group ID on Maven)? Most of the optimizations it contains center around reducing the memory footprint during parsing, which can have a dramatic impact depending on the actual type

[2016-12-02 07:00] ivan-khudyashev opened #1443 "Conversion error when build cpp target"
Error when make test grammar.

Sequence of actions.
I. Download zip-archive project https://github.com/antlr/antlr4/archive/master.zip
II. Unpack zip-archive into directory: `sompath/antlr4_runtime/cpp`
III. Download into directory `sompath/antlr4_runtime/cpp` file antlr4-4.5.4-SNAPSHOT.jar from here:
http://www.soft-gems.net/index.php/tools/49-the-antlr4-c-target-is-here
link for download: http:/

[2016-12-02 07:08] sharwell commented on #1286
@Phmager A new TypeScript target is now available here. We have a bit of work to do to make the API more "TypeScript-like", but we do have it working and an initial build published to NPM.
https://github.com/tunnelvisionlabs/antlr4ts

[2016-12-02 07:16] Phmager commented on #1286
Nice! I didn't have time yet to look at the project in detail. But I will definitely test it.

[2016-12-02 09:03] SomnathB commented on #1442
Hi Sam,
 This is the grammar file I am using. PFB the link to the plsql grammar file.
https://github.com/antlr/grammars-v4/blob/master/plsql/plsql.g4.

Thanks for pointing to another version of antlr. I will try to use it and see if  that helps.

[2016-12-02 14:16] #1401 closed

[2016-12-02 14:51] sharwell commented on #1442
@SomnathB The maximum lookahead I saw for the expressions you gave is k=2. At least for this input, it seems the memory overhead is *not* due to complex parsing operations. You can confirm this by checking if you run out of memory when you are not building parse trees, but are running out of memory when you are building parse trees.

Try increasing the available memory to something like `-Xmx12g`

[2016-12-02 14:56] KvanTTT commented on #1442
What runtime are you using?
With sharwell C# runtime I take the following result for your pl/sql code fragment (in seconds):

[code]

[2016-12-02 15:04] sharwell commented on #1007
Interesting. @parrt I don't think this particular artifact is supposed to include the runtime classes either. It looks like the shaded jar got uploaded to Maven central instead of the original artifact.

[2016-12-02 15:13] sharwell commented on #1123
A stable 4.5.3 release is now available through NuGet.

[2016-12-02 20:05] mattiasnordqvist commented on #1123
Feels like giving birth with 9 months pregnancy. :)

[2016-12-02 20:27] sharwell commented on #1123
@mattiasnordqvist To be fair, it was released in July. I just missed this issue since it's on the wrong repository. But when I did see it I didn't want to leave you hanging. :)

[2016-12-03 17:01] parrt commented on #1416
well,I had no trouble using that grammar to parse comments so... I suggest you go to the discussion group. this site is for bugs

[2016-12-03 18:25] #550 closed

[2016-12-03 18:54] #1442 closed

[2016-12-03 18:55] parrt commented on #1435
@mike-lischke any thoughts?

[2016-12-03 18:56] parrt commented on #1434
Fixed by https://github.com/antlr/antlr4/issues/1440

[2016-12-03 18:56] #1434 closed

[2016-12-03 18:57] parrt commented on #1429
@saifellafi I merged @ericvergnaud 's fix paralleling the java fix. please try with latest antlr/antlr4 build.

[2016-12-03 18:58] parrt commented on #1421
`*.java` covers `Hello*.java`

[2016-12-03 18:58] #1421 closed

[2016-12-03 18:59] parrt commented on #1415
You can throw any exception you want, new or otherwise.

[2016-12-03 18:59] #1415 closed

[2016-12-03 19:01] parrt commented on #1409
Should probably just emit a tool error.

[2016-12-03 19:03] parrt commented on #1390
A very reasonable request, but given my limited time, I will have to focus on bug fixes rather than improvements.

[2016-12-03 19:03] #1390 closed

[2016-12-03 22:13] KvanTTT commented on #1390
I can try to implement it for the next iteration if you are interested.

[2016-12-03 23:18] parrt commented on #1411
@KvanTTT I'm fine with these new errors (numbers and text).

[2016-12-03 23:19] parrt commented on #1390
@KvanTTT I think I'd rather leave channels explicit for now.

[2016-12-03 23:35] KvanTTT commented on #1411
Ok, I'll fix it soon.

[2016-12-04 00:55] #1411 closed

[2016-12-04 01:59] parrt commented on #1425
Yeah, I think the tokens{} thing is really saying "it's a token" so likely no error.

[2016-12-04 01:59] #1425 closed

[2016-12-04 09:55] mike-lischke commented on #1435
Yes, this is a known problem. I'm hit by it myself and others have mentioned it already. But I have a few open ends atm that I need to finish first before I can come back to this problem. Hence the delay.

About the synchronization: in C++ you don't lock an object, but a path. It doesn't matter where the mutex is placed as long as it is used consequently to lock all concurrent accesses. So, my ass

[2016-12-04 12:16] KvanTTT commented on #1409
I can try to fix it.

[2016-12-04 12:57] sharwell commented on #1409
For whoever fixes it, make sure there is a unit test showing the following works fine:

[code]

[2016-12-04 13:03] sharwell commented on #1435
I don't think this is an accurate characterization. The mutex in C++ appears to work the same way as `synchronized` in Java. The only difference as it applies to us is you need a mutex instance associated with each object you might want to lock (the language/runtime won't create it for you as Java does).

Also, as I mentioned in my earlier posts there are paths in the Java runtime which are intent

[2016-12-04 13:12] mike-lischke commented on #1435
At the end they all use a mutex. However, what mutex is used is what is different between languages. In Java you don't specify a mutex manually, but "lock an object", which is nothing more than to say: lock the execution path using the mutex of this object. In C++ we do that manually and hence have full control over which mutex to use. So we don't look at an object to synch execution, but take a m

[2016-12-04 13:54] KvanTTT commented on #1409
Also labels work not intuitive for repetitions:

[code]

This issue related to https://github.com/antlr/antlr4/issues/1163.

[2016-12-04 13:59] sharwell commented on #1435
The mutexes used have substantial impact on both correctness and performance. This is an area where you do not want to deviate from the semantics of the Java target. As a first step, you'll want to go through each use of `synchronized` in the Java target and ensure that you are using an equivalent mutex in the C++ target with no changes to lock granularity.

These are not marked in code. That said

[2016-12-04 17:27] parrt commented on #1409
Yeah, i think we should leave as-is but gen an error.

[2016-12-04 17:28] parrt commented on #1072
I think something akin to ambiguity detection in parser should be implemented in the lexer. These can therefore be reported dynamically.

[2016-12-04 17:32] parrt commented on #163
Hi. i'm closing as I think we have a solution, if not a perfectly easy one.

[2016-12-04 17:32] #163 closed

[2016-12-05 05:04] gaulouis opened #1451 "Template STG : How to call ``SerializedATN(model) ::= <<``"
Hello,

I'am creating a [CTarget](https://github.com/gaulouis/antlr4-glib) for antlr-4.6

How can i create a couple of file (header/source) for each rule context ?

[<funcs; separator = "\n\n">](https://github.com/antlr/antlr4/blob/master/tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg#L348) Is the deepest point I have reached

Currently, i use the [Hello.g4 of first example](https:

[2016-12-05 05:30] gaulouis commented on #1443
Hello, Maybe the compiler has an impact

The [documentation](https://github.com/antlr/antlr4/blob/master/doc/building-antlr.md) say : clang (for C++ target)

Try to instal Clang

[2016-12-05 06:47] ivan-khudyashev commented on #1443
@gaulouis thanks for reply, i install Clang, but this is not help: same error.

[2016-12-05 12:17] gaulouis commented on #1443
If you set the WITH_DEMO to False the compilation succeeds
``cmake .. -DANTLR_JAR_LOCATION=sompath/antlr4_runtime/cpp/antlr4-4.5.4-SNAPSHOT.jar -DWITH_DEMO=False``

[2016-12-05 14:15] ericvergnaud commented on #1451
I guess the best starting point for a C target would be the CPP one.
Have a look at:
~/antlr4/tool/resources/org/antlr/v4/tool/templates/codegen/Cpp/Cpp.stg
~/antlr4/tool/src/org/antlr/v4/codegen/target/CppTarget.java
Eric

[2016-12-05 14:43] gaulouis commented on #1451
Thanks Eric,
I found the answer by browsing the classes Target.java, CodeGenerator.java, CodeGenPipeline.java, OutModelController.java

In Cpp/Files.stg i have added :
``oneClassPerFile() ::= "True"``
Then in MyTarget.java i have added the method:
[code]
Then, CodeGenPipeline::writeRuleContext do the job

[2016-12-05 14:44] #1451 closed

[2016-12-05 14:59] saifellafi commented on #1429
@parrt Thank you, but sorry I am very new to antlr and not know the release structure very well. Do you mean I should try build master from source or is there a new official release build?

[2016-12-05 20:07] parrt commented on #1309
Damn. can't reproduce in test case and can't figure out what was wrong in my grammarian project. I'll close for now.

[2016-12-05 20:07] #1309 closed

[2016-12-05 21:40] #1388 closed

[2016-12-05 21:54] parrt commented on #1429
@saifellafi yep, gotta build from src. see https://github.com/antlr/antlr4/blob/master/doc/building-antlr.md

[2016-12-06 04:33] rugglcon commented on #1315
I realize this issue was closed 4 weeks ago, but I'm running into the same problem. Could you try and link the specific discussion that helped you out? Thanks.

[2016-12-06 06:52] ivan-khudyashev commented on #1443
@gaulouis that's great work, thank you! After replace this `Ref<tree::ParseTree> tree = parser.main();` on this `TParser::MainContext* tree = parser.main();` it is successfully comply and get executable example

[2016-12-06 06:52] #1443 closed

[2016-12-06 14:36] LinZhang1004 opened #1454 "What’s the meaning of _input.LT(1)"
On page 210 of "The Definitive ANTLR 4 Reference," there is a code as follows:
`
keyIF : {_input.LT(1).getText().equals("if")}? ID ;
`
Can anyone tell me what’s the meaning of _input.LT(1)? Thanks.

[2016-12-06 14:55] LinZhang1004 opened #1455 "What is the meaning of different values of invokingState?"
On page 269 of "The Definitive ANTLR 4 Reference," there is a code as follows:

[code]

On page 270 of "The Definitive ANTLR 4 Reference," there is a code as follows:

[code]

Are the "4" and "0" in the above codes the values of invokingState? If yes, what's the the meaning of different values of invokingState? Thanks.

[2016-12-06 15:19] KvanTTT commented on #1454
Please read carefully issue template before issue creation:
[code]

[2016-12-06 15:28] sharwell commented on #1454
`_input.LT(1)` returns the `Token` instance for the next token. In this example, the grammar itself only enforces that `keyIF` matches an `ID`. The predicate further restricts the rule to only match an ID whose text is identical to `if`.

[2016-12-06 15:33] sharwell commented on #1455
The invoking state performs a function similar to the call stack you see for a thread while executing Java code. It roughly identifies the location in the grammar from which the current rule was called.

:memo: In the actual generated code, the numbers `4` and `0` do not appear as constants, but rather as a call to `getState()`.

[2016-12-06 16:03] LinZhang1004 commented on #1454
Dear sharwell, thank you for your quick reply. I still want to make sure I understand what you said. `_input.LT(1)` returns the `Token` instance for the next token, where "the next token' is `expr`, right?

[2016-12-06 17:07] gaulouis opened #1456 "[Tool]How to generate a file per each child ParserRuleContext"
Hello,

I have read the StringTemplate documentation, Target.java, CodeGenPipeline.java, CodeGenerator.java, OutputModelController.java, CodeGeneratorExtension.java

Despite all my efforts I can not find what I need to do.

In Target.java, I have added
[code]
In CodeGenPipeline.java::process(), I have added:
[code]

In CodeGenerator.java, I have added:
[code]

Any help would be appreciated.

[2016-12-06 19:51] Naios opened #1457 "[Cpp] namespace pollution of the antlr4 namespace from generated lexer/parser"
50646a6da8

Generated C++ parsers and lexers are making the `antlr4` scope globally available through a
`using namespace antlr4` statement in the generated *Parser.h and *Lexer.h which leads to a namespace pollution, especially when not using a custom namespace (`-package` option).

See the sources from the cpp target demo project:

TParser.h
[code]

The expected behaviour is that included headers

[2016-12-06 20:45] Naios commented on #1457
I could open a PR for it, however I wanted to ask first whether it will be accepted because of the possible breakage of code not declaring classes as part of the `antlr4` namespace as explained above.

[2016-12-06 20:57] sharwell commented on #1457
I don't think we've had a first release of this target, so now would be the time to do it if we're going to do it. @mike-lischke What do you think?

[2016-12-06 21:23] gaulouis commented on #1457
I can do it tonight if someone can do the Java [generate one file per class](https://github.com/antlr/antlr4/issues/1456) else I continue my search...

[2016-12-07 09:44] mike-lischke commented on #1457
Right, while I made sure not to use `using namespace` in any of the runtime files I did that for the generated files and this can easily be fixed. @Naios if you are willing to do that and open a PR for merging that then go ahead. Every help is appreciated.

[2016-12-07 09:48] mike-lischke commented on #1456
I believe that is impossible to implement without a big refactoring of the generation code. And IMO the benefit is questionable. Keep in mind you might end up with hundreds of files then (in my current parser I have 500 rules, each would create 2 files then). There won't be any compilation speedup either, since all files would always be created at the same time. And I can imagine that you might ge

[2016-12-07 16:25] KvanTTT commented on #1409
We also can not use a `+=` operator for rules with different types (table updated):
[code]

[2016-12-07 23:32] syn-ful opened #1459 "[golang target] Specific grammar generates code that fails to compile"
Before submitting an issue to ANTLR, please check off these boxes:

- [x] I am not submitting a question on how to use ANTLR; instead, go to [antlr4-discussion google group](https://groups.google.com/forum/#!forum/antlr-discussion) or ask at [stackoverflow](http://stackoverflow.com/questions/tagged/antlr4)
- [x] I have done a search of the existing issues to make sure I'm not sending in a duplicat

[2016-12-07 23:41] syn-ful commented on #1459
@pboyer - First off, thanks for all your hard work on the Golang target.  I think my parsing use-case hits on some uncommon grammar edge-cases.  But, I'm really excited to use ANTLR4 to solve some problems my team is facing.

I'm currently testing against ANLTR4 4.6 code, which includes fixes https://github.com/antlr/antlr4/pull/1423 & https://github.com/antlr/antlr4/pull/1436

[2016-12-08 02:05] pboyer commented on #1459
@syn-ful Don't worry! Thanks for the help in finding the bugs. This looks like it should fix the problem:  https://github.com/pboyer/antlr4/pull/91

Would you mind trying it out? Otherwise I'll do it tomorrow sometime.

[2016-12-08 15:44] gaulouis opened #1461 "[Grammar] warning "incompatible commands more and type" treated as error"
Hello,

I have build Antlr4 from git and compiled the antlr4-cpp target succefully.
When i try to build the runtime/Cpp/demo, i got the error : ``warning(179): TLexer.g4:69:34: incompatible commands more and type``

The raison is than org.antlr.v4.tool.ErrorType have been modified. And therefore the grammar used in [Cpp/demo](https://github.com/antlr/antlr4/blob/master/runtime/Cpp/demo/TLexer.g4)

[2016-12-08 16:41] KvanTTT commented on #1461
You can not use `more` and `type(DUMMY)` commands simultaniously, it's senselessly. See the table in my abovementioned issue. It seems to me that you should remove `type(DUMMY)` command in your case bacause of tokens with `DUMMY` type will never appear. They always will have `Dot` type from `Mode1`.

[2016-12-08 17:53] KvanTTT commented on #348
I guess this issue can be closed for now. Related: https://github.com/antlr/antlr4/issues/1388

[2016-12-08 18:14] gaulouis commented on #1461
Thank you very much for your valuable quick help.
I delete "type (DUMMY)" and everything works fine.

[2016-12-08 18:14] #1461 closed

[2016-12-08 19:47] #1409 closed

[2016-12-08 19:52] #1456 closed

[2016-12-08 19:53] #1454 closed

[2016-12-08 20:00] gaulouis opened #1464 "[Tool][CppTarget]Build cpp demo generate warning: extra ‘;’"
Hello,

When i build the CppTarget demo on Linux, with gcc, i got some pollution warning.

[2016-12-08 21:06] #1464 closed

[2016-12-08 22:00] #348 closed

[2016-12-08 22:10] parrt commented on #1455
@LinZhang1004 please stop asking questions here

[2016-12-08 22:10] #1455 closed

[2016-12-08 22:11] parrt commented on #1322
Fixed by https://github.com/antlr/antlr4/pull/1450

[2016-12-08 22:11] #1322 closed

[2016-12-08 22:12] #1300 closed

[2016-12-08 22:13] parrt commented on #1428
Dup of https://github.com/antlr/antlr4/issues/1283

[2016-12-08 22:14] parrt commented on #1283
See https://github.com/antlr/antlr4/issues/1428 for a new example.

[2016-12-08 22:15] parrt commented on #1428
Not a dup, but related to #1283

[2016-12-08 22:26] syn-ful commented on #1459
Thanks @pboyer - Everything is working as expected now.

[2016-12-08 22:26] #1459 closed

[2016-12-08 22:55] parrt commented on #1283
Ok, so this is not an error it turns out. It's an issue of *when* you call that function.  before version 4.6, for `('optional')?` we did not detect the missing ';' at the same time we did for `('optional'|)`. 4.6 checks them consistently now. The problem in the first case is that you have asked for the expected tokens when the parser has already moved to the spot where it is only expecting a `;`.

[2016-12-08 22:55] #1283 closed

[2016-12-09 01:24] parrt commented on #1428
It turns out this is a feature request not a bug. `ATN.getExpectedTokens()` exists for use with error handling in and executing parser with a known specific context (call stack). In other words, it is not designed to give you the set of all tokens that could follow from *any* context that is potentially viable (i.e., I don't believe it is the generic global FOLLOW operation). It is always specific

[2016-12-09 04:32] daflame76 commented on #659
Can anyone get the **Go** language target to work with the grammars?

[code]

[2016-12-09 04:54] daflame76 commented on #659
Nevermind, fixed it myself.  Apparently the **Go** language definition wasn't written with consideration for having a language with a keyword called `type` to actually parse it.

[2016-12-09 06:13] willfaught commented on #659
That possibility of keyword conflicts isn't good. Maybe there should be a
production name prefix in generated methods to prevent keyword conflicts?
RuleFoo or something.

On Thu, Dec 8, 2016 at 8:54 PM DaFlame <notifications@github.com> wrote:

[2016-12-09 13:17] wjkohnen commented on #659
The situation is not ideal, but not limited to Go. I've learnt that the hard way, when I tried to use a grammar with "super" as a keyword. Target language was Java.

[2016-12-09 14:27] sharwell commented on #659
For C# we solve this by converting reserved keywords into other identifiers that are allowed in the language. For example, if you name a rule `base`, you'll get `@base` as the method name in generated C# code.

One possibility for Java would be including `$` as a prefix or suffix in such a case (but limited to Java keywords there of course). Other languages could automatically convert keywords in

[2016-12-09 16:00] pboyer commented on #659
@sharwell Thanks for the pointers! Do you do that somewhere in the templates? Not sure if the keyword information is somehow propagated into the stg props

The other place where we've seen this come up is if the user chooses a rule name that is the same as a method on the `RuleContext` type - like `toString`. This could be repaired as well.

[2016-12-09 17:43] parrt commented on #1428
Some more details. It looks like `ParserATNSimulator.getReachableTarget()` should be overridden to check for the special token (or perhaps just record the index into the token stream where such a special token would reside to avoid altering the stream. Override `addDFAEdge()` to prevent adding edges for the special token. Another way to handle this is simply to add the current input token to our s

[2016-12-09 18:09] parrt commented on #1298
@marcospassos you say *In all cases, the results generated by the TestRig are much better by far.* here but in https://github.com/antlr/antlr4/issues/1299 you say that the TestRig is incorrect.

[2016-12-09 19:01] mike-lischke commented on #1428
What surprises me about this and other similar solutions is that they are always targetted only at the next possible tokens, which is only partially useful (keywords mostly). What do you want with the information that your ID rule is a possible candidate? This doesn't give you any means to determine if you need a class name or a constant etc.

I have written a code completion core which I plan to

[2016-12-09 20:50] marcospassos commented on #1298
Just a typo, I meant *In all cases, the results generated by the interpreter are much better by far*

[2016-12-09 21:46] KvanTTT opened #1473 "The meaning of SKIP and MORE constants"
ANTLR have a SKIP and MORE constants and reserved keywords but they are not used anywhere: [Lexer.java](https://github.com/antlr/antlr4/blob/9e2c0f76f913b48589da1319ee1edbd9a2cc1fe8/runtime/Java/src/org/antlr/v4/runtime/Lexer.java#L26).
My assumption is that they has been added for writing `skip` and `more` tokens without identifier wasting. I mean:
[code]
But this syntax is not used for now. Can

[2016-12-09 21:47] #1473 closed

[2016-12-09 21:48] KvanTTT commented on #1473
Sorry: these constants are used in runtime, although reserved keywords are not.

[2016-12-09 22:05] parrt commented on #1298
Good to know. I think I've solved this one at least.

[2016-12-09 22:07] marcospassos commented on #1298
Could you please provide a preview build for testing?

[2016-12-09 22:11] parrt commented on #1298
[antlr4-4.6-SNAPSHOT.jar.zip](https://github.com/antlr/antlr4/files/643324/antlr4-4.6-SNAPSHOT.jar.zip)

[2016-12-09 23:31] #1298 closed

[2016-12-09 23:33] parrt commented on #1429
Please try this
[antlr4-4.6-SNAPSHOT.jar.zip](https://github.com/antlr/antlr4/files/643426/antlr4-4.6-SNAPSHOT.jar.zip)  If it's better, I can close. @ericvergnaud has made some changes.

[2016-12-09 23:34] #1420 closed

[2016-12-09 23:34] parrt commented on #1367
@thosakwe I think I'll leave dart for next release. I'm now just finishing a few bugs and will release soon.

[2016-12-09 23:36] parrt commented on #1269
@BurtHarris can I close this due to new doc etc...? AppVeyor seems to be building.

[2016-12-09 23:36] thosakwe commented on #1367
I think that would be best. Congrats on the release!

[2016-12-09 23:43] parrt commented on #1214
This results from running ANTLR on a file meant only as an import:

[code]

[2016-12-09 23:43] #1214 closed

[2016-12-09 23:49] #1267 closed

[2016-12-09 23:50] parrt commented on #1227
Fixed by https://github.com/antlr/antlr4/commit/fca5e458d3cbbc0d24fbefd2e6ac47569d479afa

[2016-12-09 23:50] #1227 closed

[2016-12-09 23:51] #1222 closed

[2016-12-09 23:51] parrt commented on #1222
Fixed by https://github.com/antlr/antlr4/commit/fca5e458d3cbbc0d24fbefd2e6ac47569d479afa

[2016-12-09 23:52] #1208 closed

[2016-12-09 23:55] parrt commented on #1205
Fixed by https://github.com/antlr/antlr4/commit/f5d3e4cfe6a520bc1a1e2c2a659b1c5e3f2fb280

[2016-12-09 23:55] #1205 closed

[2016-12-10 00:05] parrt commented on #1265
Fixed by https://github.com/antlr/antlr4/pull/1460

[2016-12-10 00:05] #1265 closed

[2016-12-10 00:11] parrt commented on #1203
Confirmed with latest 4.6-SNAPSHOT. @sharwell grammar above crashes on input `throws`. It bounces between `closure_` and `closureCheckingStopState`. Investigating...

[2016-12-10 00:32] sharwell commented on #1203
@parrt Doesn't reproduce in my fork. I get this:

[code]

[2016-12-10 00:33] parrt commented on #1203
Ok, my LL1Analyzer must have a bug. investigating.

[2016-12-10 01:13] sharwell commented on #1203
:memo: FWIW, we think the bug existed a *long* time ago (at least ANTLR 4.2.1), and I accidentally fixed it as part of another change in sharwell/antlr4@08d1001. However, that commit also depends on a substantial difference in the way my fork treats `PredictionContext.EMPTY`, so we can't just assume the same change applied here will fix it.

[2016-12-10 01:33] marcospassos commented on #1299
Yes, I think so. We've here 20+ unit tests broken that can assert these fixes. I'll test the snapshot by tomorrow to confirm.

[2016-12-10 12:47] gaulouis opened #1478 "[runtime-testsuite][CppTarget] Do not support g++"
The [building documention](https://github.com/antlr/antlr4/blob/master/doc/building-antlr.md) only mentions the compiler Clang++
However, I can build runtime-CppTarget with g++ and Clang ++ but runtime-tests for CppTarget failled at compile time with g++.

Does CppTarget need to support the g++ compiler ?

[2016-12-10 17:07] mike-lischke commented on #1435
Thanks for all the advice, Sam. In fact I checked the synch calls already multiple times and believe they are correct. There is one case where the same mutex is locked twice (unnecessarily) and forces me to use recursive locks. But I think I can get rid of that.

About the switch array -> map: I see in your branch you have done the same, realizing that an array is consuming a lot of memory, especi

[2016-12-10 17:23] KvanTTT commented on #1435
ANTLR C# tunnelvisionlabs runtime have a multithreading issue at least for cache clearing: [GetAllTokens and ClearDFA sometimes throws NRE in multithread mode](https://github.com/tunnelvisionlabs/antlr4cs/issues/143).

[2016-12-10 17:34] sharwell commented on #1435
@KvanTTT That message is a bit misleading, specifically because:

1. Clearing the DFA cache is the only *known* race condition in that runtime.
2. Clearing the DFA cache is a generally discouraged practice. The reason the issue isn't resolved yet is it doesn't make sense to correct it in any way that could negatively affect the recommended use cases.

The C# target has been used for years in some

[2016-12-10 17:37] parrt commented on #1428
@mike-lischke perhaps BSD license? ;)

[2016-12-10 17:44] sharwell commented on #1435
It took a bit of work to get this right:
https://github.com/sharwell/antlr4/compare/6274685f6ad9a2e4b53d794859a5dda70bfe84ca...5f70f34b6173ca667d19d9de914aab96836cec6b

Keep in mind that the performance tweaks at the end that removed locks from the fast path were essential for some of the scenarios described in my previous comment.

[2016-12-10 17:45] parrt commented on #1428
Thought about this again and need to clarify what `getExpectedTokens` is and is not capable of. First, it should be able to get {`(`, `+`} for the above grammar.

*Given a specific state and a call stack, `getExpectedTokens` should most definitely be able to find all possible tokens that can follow.*

What it is not meant to do is answer a different question:

*Given a specific partial input phras

[2016-12-10 17:49] parrt opened #1480 "getExpectedTokens() doesn't get all tokens from FOLLOW set"
This bug was originally posted as a bug that got converted into a feature request: https://github.com/antlr/antlr4/issues/1428

At the ATN state following the recognition of `ID` after input `( x`, `getExpectedTokens()` should return {`)`, `+`}, but it only returns {`+`}.
[code]

[2016-12-10 18:32] parrt commented on #1480
I tried rolling back to before recent fix to LL(1) analyzer, but it still gives correct results.

[2016-12-10 18:34] #1480 closed

[2016-12-10 18:45] parrt commented on #1203
Fixed by https://github.com/antlr/antlr4/pull/1477  It gives a tool error that your grammar has a problem.

[2016-12-10 18:45] #1203 closed

[2016-12-10 21:46] parrt opened #1482 "heading towards 4.6 release"
@antlr/antlr-targets Howdy! Ok, I'd like to finish up 4.6 in the next week. What remaining issues must be fixed for 4.6? Are you satisfied people know how to use your target (i.e., via the doc)?  Maybe add a comment here with a link to issue or issues you feel must be in 4.6 release. Silence implies consent to release 4.6 :)

[2016-12-10 21:51] parrt commented on #1200
@wjkohnen what can I do to help? something i can add to pom.xml?

[2016-12-10 21:51] #1193 closed

[2016-12-10 21:52] #1185 closed

[2016-12-10 21:52] #1115 closed

[2016-12-10 21:53] parrt commented on #1184
Fixed in 4.6 release :)

[2016-12-10 21:53] #1184 closed

[2016-12-10 21:53] #1182 closed

[2016-12-10 21:56] #1181 closed

[2016-12-10 21:57] parrt commented on #1178
that error is from version 3 not 4. it is not a bug but a question. do not ask questions here.

[2016-12-10 21:57] #1178 closed

[2016-12-10 22:01] cpitclaudel commented on #1193
AFAICT the issue persists. What was there to discuss?

[2016-12-10 22:02] parrt commented on #1193
I don't understand. antlr is a public library not your bank statement. who cares about https?

[2016-12-10 22:05] #1177 closed

[2016-12-10 22:06] #1166 closed

[2016-12-10 22:08] parrt commented on #1105
@WolfgangFahl Did you get an error from antlr during code generation? It's an optional token or something.

[2016-12-10 22:09] #1158 closed

[2016-12-10 22:12] parrt commented on #1070
Current targets already check for "bad words". e.g.,

[code]

You should get a warning.

[2016-12-10 22:13] #1155 closed

[2016-12-10 22:15] parrt commented on #1163
intended behavior. `+=` or repeated references (not parses) give arrays.

[2016-12-10 22:15] #1163 closed

[2016-12-10 22:28] johndpope commented on #1184
nice.

[2016-12-10 22:33] parrt commented on #1073
I use the intellij plugin but you're right! I added function `CommonToken.toString(Recognizer)` and called from test rig.

[code]

[2016-12-10 22:35] #1073 closed

[2016-12-10 22:36] parrt commented on #1132
Hi. yeah, nice idea but I'll leave as-is.

[2016-12-10 22:36] #1132 closed

[2016-12-10 22:36] #1050 closed

[2016-12-10 22:37] cpitclaudel commented on #1193
I'm not worried about privacy, I'm worried about integrity.  As it stands, there's no way for me to ensure that the binaries I download from ANTLR's website aren't tampered with.

An alternative to HTTPS is listing checksums for the download on a secure page.

[2016-12-10 22:37] parrt commented on #1068
actually I can't change as you might want [aA] 'nd' w/o a space.

[2016-12-10 22:37] #1068 closed

[2016-12-10 22:39] #1062 closed

[2016-12-10 22:40] parrt commented on #1107
thanks for suggestion though I'm going to not do.

[2016-12-10 22:40] #1107 closed

[2016-12-10 22:41] parrt commented on #1045
We've discussed this a few times over the years. Not a bad thing but I'm going to close. thanks!

[2016-12-10 22:41] #1045 closed

[2016-12-10 22:45] parrt commented on #1206
Fixed by f5d3e4cfe6a520bc1a1e2c2a659b1c5e3f2fb280

[2016-12-10 22:45] #1206 closed

[2016-12-10 22:47] parrt commented on #1219
@pavelvelikhov hi! heh, can you check again due to recent fix? https://github.com/antlr/antlr4/pull/1441

[2016-12-10 22:50] #1022 closed

[2016-12-10 22:51] #1042 closed

[2016-12-10 22:53] parrt commented on #1038
`space` rule is undefined in the above.

[2016-12-10 22:55] parrt commented on #1122
I think we fixed this in recent fix for https://github.com/antlr/antlr4/issues/1398

[2016-12-10 22:55] #1122 closed

[2016-12-10 22:56] parrt commented on #1106
Maybe here? https://github.com/antlr/antlr4/releases

[2016-12-10 22:56] #1106 closed

[2016-12-10 23:00] #962 closed

[2016-12-10 23:00] parrt commented on #948
Closing as we added sync back.

[2016-12-10 23:00] #948 closed

[2016-12-10 23:02] parrt commented on #1482
For Java, I want to fix:

* [ ] https://github.com/antlr/antlr4/issues/1036
* [ ] https://github.com/antlr/antlr4/issues/1175
* [ ] https://github.com/antlr/antlr4/issues/1042
* [ ] https://github.com/antlr/antlr4/issues/1007

[2016-12-10 23:03] parrt commented on #969
see https://github.com/antlr/antlr4/blob/master/doc/options.md

[2016-12-10 23:03] #969 closed

[2016-12-10 23:04] parrt commented on #1104
it would be easy to make the parser do this but not the lexer. sorry.

[2016-12-10 23:04] #1104 closed

[2016-12-10 23:08] parrt commented on #978
@MEZk Not sure how to fix. antlr4-maven-plugin/pom.xml does not have that link. where do I change it?

[2016-12-10 23:10] parrt commented on #1193
I see. Maybe using maven uses https.

[2016-12-11 01:33] #1036 closed

[2016-12-11 01:36] parrt commented on #1007
@sharwell Hmm...how do i make both shaded (fat) jars and pure jar? seems like it only makes one jar.

[2016-12-11 02:29] parrt commented on #1007
@cowang I think the source for runtime and the tool should be in separate jars and then the various IDEs will pull it in. antlr4 is the tool and antlr4-runtime are the mvn artifacts. The shaded jar should not have been deployed.

[2016-12-11 02:30] #1007 closed

[2016-12-11 02:33] carbocation opened #1489 "'Master' branch instructions for generating Go code do not work"
- [x] I am not submitting a question on how to use ANTLR; instead, go to [antlr4-discussion google group](https://groups.google.com/forum/#!forum/antlr-discussion) or ask at [stackoverflow](http://stackoverflow.com/questions/tagged/antlr4)
- [x] I have done a search of the existing issues to make sure I'm not sending in a duplicate

I'm trying to generate Go code from Hello.g4. However, when I run

[2016-12-11 02:49] cpitclaudel commented on #1193
Probably! I'm not very familiar with Maven.

There's another, very simple solution.  Instead of suggesting to download a file from antlr's HTTP servers (http://www.antlr.org/download/antlr-4.5.3-complete.jar), you could point to a GitHub release.

[2016-12-11 04:16] ericvergnaud commented on #1482
Hi,

still working on implementing the closure loop early exit optimisation for C#
Not sure I will be done by next week.

Eric

[2016-12-11 08:51] mike-lischke commented on #1428
Unfortunately, BSD will not be possible. I'm bound to GPL by forces I do not control.

[2016-12-11 09:13] mike-lischke commented on #1482
I'm also still working on this fix. While it improves speed a lot in some special cases, I have hit a wall with one test case where parsing never ends because of extremly much comparison going on which slows down the project. No idea when I can fix that.

@parrt Once 4.6 is out how long will it take for a follow up release (e.g. when I have new changes in the C++ target)? Do you have a fix release

[2016-12-11 09:24] wjkohnen commented on #1200
It builds successfully now. I think the new test templating solves this?

Tested with https://hub.docker.com/r/wjkohnen/gopherbase/ (github.com/wjkohnen/dkr-gopherbase), setting 'LANG' to 'C' and maven starget 'install'.

[2016-12-11 09:24] #1200 closed

[2016-12-11 09:44] sufail commented on #994
@parrt , @sharwell
Is there any antlr-4.6-Snapshot.jar or  maven dependency for the latest jar which includes the fixes for this available? I am finding it's difficult to build the sources myself for the master branch  in my environment.

[2016-12-11 11:50] unthingable opened #1490 "Strange lexer behavior"
(antlr4 4.5.3) It appears that the lexer rule `('0'..'9' ('0'..'9' | 'a'..'f' | 'A'..'F'))` matches all valid inputs between "00" and "9f" _except_ "01". Could that be right?

Example:
[code]

[2016-12-11 11:53] #1490 closed

[2016-12-11 11:54] unthingable commented on #1490
n00b mistake, pardon. Had a conflicting parser rule elsewhere that matched "01".

[2016-12-11 12:09] mike-lischke commented on #1478
g++ should work as well, but it is slower than using cmake (and clang). The runtime tests have a very specific task and are not of so general interest like the runtime itself, so IMO the restriction to clang for the tests is totally ok. Hence I vote for closing this issue.

[2016-12-11 12:13] mike-lischke commented on #1270
Sorry, I can't follow @gaulouis. The serialized ATN **is** stored as word values. This is not Unicode but just binary data. You can take this over 1:1.

[2016-12-11 16:44] danielsun1106 commented on #994
@sufail
If you are using Sam's optimized version of antlr4, I have the latest jar that you want. BTW, I'm looking for the new release too :)
https://github.com/danielsun1106/groovy-parser/blob/master/lib/antlr4.jar

[2016-12-11 16:53] parrt commented on #994
i’ll push a snapshot today.

[2016-12-11 17:26] parrt commented on #1482
Can you @antlr/antlr-targets guys check https://github.com/antlr/antlr4/blob/master/doc/releasing-antlr.md to ensure I know how to properly release your target? I guess we need Go, Swift notes and others can check the text for accuracy. (Email me changes to avoid collisions)

[2016-12-11 17:27] parrt commented on #1482
@mike-lischke I can do a 4.6.1 soon if you like. I have no fixed release cycle but it appears to be 2x per year at moment if I'm left to my own behavior (i.e., without nudging from you guys)

[2016-12-11 17:38] parrt commented on #994
@danielsun1106 @sufail Can you try mvn for 4.6-SNAPSHOT?  I did a deploy which looks like it put stuff here: https://oss.sonatype.org/content/repositories/snapshots/org/antlr/antlr4/4.6-SNAPSHOT/ etc...

[2016-12-11 18:46] mike-lischke commented on #1482
About release notes: you have to uncomment the last line in each C++ deployment script (mentioned in the docs) and update the path where you want the final packages be copied.

About release dates: well, I don't wanna hold the major 4.6 release with my smaller changes and I have no idea how long it will take till I can find the problem with the left recursion test. This can then be delivered in a

[2016-12-11 22:56] #980 closed

[2016-12-11 23:02] parrt commented on #1489
your `antlr4` is seeing an old jar. that is the only conclusion.

[2016-12-11 23:02] #1489 closed

[2016-12-11 23:12] parrt commented on #1482
@janyou You say just "*You will find Swift runtime (framework project) in antlr4/runtime/Swift*" on https://github.com/antlr/antlr4/blob/master/doc/swift-target.md  but what does that mean? They must go to github or something? Do I supply a zip? jar? tar? How do I publish a swift release for antlr? @hanjoes can you help?

[2016-12-11 23:14] #1457 closed

[2016-12-11 23:14] gaulouis commented on #1270
Agree on the representation of the data.
My question was also about adjustment. I do not understand how this [loop](https://github.com/antlr/antlr4/blob/master/runtime/Java/src/org/antlr/v4/runtime/atn/ATNDeserializer.java#L113) is useful:
[code]

[2016-12-11 23:24] parrt commented on #1200
hooray! thanks.

[2016-12-11 23:26] parrt commented on #1193
Howdy! I deployed a snapshot and it has hash. these are the individual jars though: https://oss.sonatype.org/content/repositories/snapshots/org/antlr/antlr4/4.6-SNAPSHOT/
https://oss.sonatype.org/content/repositories/snapshots/org/antlr/antlr4-runtime/4.6-SNAPSHOT/

[2016-12-11 23:29] parrt commented on #659
@pboyer Take a look at, say, JavaTarget.java and you'll see a list of "bad words" :)  Add keywords analogously there in your GoTarget.java.

[2016-12-11 23:45] gaulouis commented on #1478
I'am not sur. But if i apply this patch i have some compilation error (convertion type error ) with g++
When i run ../.travis/run-test-cpp.sh

[code]

I'll investigate tomorrow

[2016-12-12 00:14] marcospassos commented on #1299
@parrt this bug is still present in 4.6. Could you please reopen this issue?

Please, take this grammar as example:

[code]
Input:
[code]

Result:
[code]

![image](https://cloud.githubusercontent.com/assets/943036/21084727/1b747144-bfef-11e6-850d-59051954fb47.png)

Where did the token `1` go? If the `FROM` token is recognized as an identifier, why is it marked as an error?

[2016-12-12 00:21] marcospassos commented on #1299
@parrt this bug is still present in 4.6. Could you please reopen this issue?

Please, take this grammar as example:

[code]
Input:
[code]
Result:
[code]
![tree](https://cloud.githubusercontent.com/assets/943036/21084830/1f3afd92-bff0-11e6-9550-f4786d00a258.jpg)

If the `FROM` token is recognized as an identifier, why is this marked as error?

[2016-12-12 00:46] sharwell commented on #1270
See tunnelvisionlabs/antlr4ts#144 for an explanation of this.

[2016-12-12 00:49] carbocation commented on #1489
I'm sorry, I must be missing something. On the github.com/antlr/antlr4 master branch, [following the installation instructions](https://github.com/antlr/antlr4/blob/master/doc/getting-started.md), I see the following installation instructions:
[code]

Testing my version after I follow those instructions (and the remaining instructions on that page) I can see that I've successfully installed 4.5.3:

[2016-12-12 01:10] marcospassos commented on #1299
Another example:

[code]
Input:
[code]
Result:
[code]
![tree](https://cloud.githubusercontent.com/assets/943036/21085265/f0e72f40-bff6-11e6-8433-00a86e274baf.jpg)

[2016-12-12 01:32] marcospassos commented on #1298
@parrt yes, this error has been fixed! \o/

We've made an extensive test suite to cover most of the error cases we've found during the development of our proprietary language and now looks like #1299 is last issue still open. So, Antlr 4.6 is gonna be huge!

[2016-12-12 01:40] cpitclaudel commented on #1193
Yay, thanks so much! I imagine you'll update the home page after the next release?
Thanks again for fixing this issue :) (and for the cool work on ANTLR, of course)

[2016-12-12 01:59] parrt commented on #1299
@marcospassos For your first post, "*If the FROM token is recognized as an identifier, why is this marked as error?*" It is not recognized as `identifier`. It **tried** to match `identifier` but failed as it found `FROM`.

[2016-12-12 02:01] parrt commented on #1489
Hi @carbocation 4.6.0 has not been released, so we haven't updated the online doc yet. :)  If you tell it to use 4.5.3 jar, it will not be 4.6.0.

[2016-12-12 02:01] parrt commented on #1298
@marcospassos hooray!  I think the #1299 is fixed too ;)

[2016-12-12 02:02] marcospassos commented on #1299
So, why is it inside the`identifier` tree? If the parser detects that it's missing the `by` token, so `from` is recognized as an identifier, no?

[2016-12-12 02:02] parrt commented on #1193
Yep, note that I can't guarantee my machine isn't hacked so you might still be getting corrupt software ;)

Regardless, I think you'll find ANTLR a pleasure to use as a parser generator.

[2016-12-12 02:03] parrt commented on #1299
:) First note that it's `identifier` not `IDENTIFIER`.  The grammar tells it to call `identifier` and so it does but it can't match `from` to either alt so it's an error node.

[2016-12-12 02:06] parrt commented on #1299
@marcospassos hold on.

[2016-12-12 02:07] marcospassos commented on #1299
@parrt yes, I know, it's a tree, not the identifier itself. But, take a look how the interpreter handles it:

![image](https://cloud.githubusercontent.com/assets/943036/21085955/f2c42f40-bffe-11e6-8c9d-b0fd076c789c.png)

[2016-12-12 02:11] marcospassos commented on #1299
About the second case, I could not realize whether they're the same issue or not.

[2016-12-12 02:12] carbocation commented on #1489
Oooh, now I get it. I was using github, but to do that I'd really have to build it from source. If I want to use pre-built jars, I need to use the official website documentation. Thanks for helping me figure out the issue!

[2016-12-12 02:13] marcospassos commented on #1299
Again, the interpreter rocks 💯

[2016-12-12 05:05] sufail commented on #994
@parrt  @danielsun1106  @sharwell
I was able to build the project in  Windows , which added the jars to my local maven repository.   The Jars I am interested in are antlr-runtime-4.6-SNAPSHOT.jar  and antlr4-maven-plugin-4.6-SNAPSHOT.jar.   My Project was in Unix VM and I was able to install these two jars over there successfully.  But  the antlr-4-maven-plugin is not working there (saying unsatis

[2016-12-12 05:44] cpitclaudel commented on #1193
That's a risk I'll take :) ANTLR is a breautiful piece of software; thanks so much!

[2016-12-12 08:41] mike-lischke commented on #1478
I still think we should adjust the test system to the needs of the tests instead of the other way around. It's adding a lot of extra work to make the test so flexible, for no real benefit. What are you trying to solve with that?

[2016-12-12 11:47] gaulouis commented on #1270
Thanks for the help, and the time you gave me

[2016-12-12 11:47] #1270 closed

[2016-12-12 13:03] mike-lischke opened #1492 "ANTLR4 fails to build"
Before submitting an issue to ANTLR, please check off these boxes:

- [x] I am not submitting a question on how to use ANTLR; instead, go to [antlr4-discussion google group](https://groups.google.com/forum/#!forum/antlr-discussion) or ask at [stackoverflow](http://stackoverflow.com/questions/tagged/antlr4)
- [x] I have done a search of the existing issues to make sure I'm not sending in a duplicat

[2016-12-12 14:23] gaulouis commented on #1478
I do not have Clang++ installed. But i think than Clang can not do 2 time more fast than g++.

I want to solve the ambiguity on travis
``$] cd runtime-testsuites``
``$] export TARGET=cpp``
``$] export CXX=g++-5`` if g++ is never used why use this export
``$] ../.travis/run-test-cpp.sh``
Then, on Travis serveur Clang++ is used
While, on my local machine i got an error ``Error: Can't find Clang++``

[2016-12-12 15:40] ericvergnaud commented on #958
Hi,
from my tests, antlr generates a warning, not an error, and the generated code is correct.
Can you confirm?

[2016-12-12 15:41] ericvergnaud commented on #958
@parrt can you look at my fix-#958 branch, I've tried to get rid of the warning, but it seems that ST can't find the 'parserName' attribute in the LexerFile object model. Not sure what I'm doing wrong...

[2016-12-12 16:48] parrt commented on #1482
@antlr/antlr-targets I'm stuck doing admin work most of day today but will be back in action soon as possible.

[2016-12-12 18:00] KvanTTT opened #1495 "Add tokenVocab as a command line parameter"
It can be used for one parser and several lexers. See [php grammar](https://github.com/antlr/grammars-v4/tree/master/php) for example: with `tokenVocab` parameter it would be possible to define lexer for different runtimes by the following way:
### Java
`-jar antlr4.jar PHPParser.g4 tokenVocab="PHPLexer" -Dlanguage=Java`
### C#
`-jar antlr4.jar PHPParser.g4 tokenVocab="C#/PHPLexer" -Dlanguage=CSha

[2016-12-12 19:07] hanjoes commented on #1482
I presume the old doc implies package structure in @janyou's original repo, but yeah, I will take a look.

[2016-12-12 19:32] saifellafi commented on #1429
@parrt

I've just tried. Unfortunately no difference. Both **antlr-4.5.3-complete.jar** vs **antlr4-4.6-SNAPSHOT.jar** take the same time ~2.45 minutes to complete the processing. There is a warning when using snapshot though: _ANTLR runtime and generated code versions disagree: 4.5.3!=4.6_

[2016-12-12 19:37] saifellafi commented on #1429
@parrt
I will gladly try but I'd need a python3 runtime library like this one: https://pypi.python.org/pypi/antlr4-python3-runtime

any chance you could provide such to help me test?

[2016-12-12 19:38] #1495 closed

[2016-12-12 21:13] mitchell-as opened #1496 "Python 2 Target's ErrorStrategy Creates Problematic Tokens"
Before submitting an issue to ANTLR, please check off these boxes:

- [x] I am not submitting a question on how to use ANTLR; instead, go to [antlr4-discussion google group](https://groups.google.com/forum/#!forum/antlr-discussion) or ask at [stackoverflow](http://stackoverflow.com/questions/tagged/antlr4)
- [x] I have done a search of the existing issues to make sure I'm not sending in a duplicat

[2016-12-13 00:56] parrt commented on #1492
Maybe I should make javadoc gen a separate "command".

[2016-12-13 01:34] parrt commented on #1492
Try now :)

[2016-12-13 02:11] parrt commented on #1299
Found bug. easy fix but had to do for like 8 targets ;) waiting on tests to run...

[2016-12-13 07:49] mike-lischke commented on #1492
No change unfortunately:

[code]

[2016-12-13 07:50] mike-lischke commented on #1492
Ich double-checked that I really have the changes you made in my local repo.

[2016-12-13 08:41] marcospassos commented on #1299
Great! @parrt, notice that https://github.com/marcospassos/antlr4/commit/c5c987b99f735561b13bdc4b8ea8283ddfe3b39e is a different case for the same bug. When I turn this fix off, some tokens are marked as error even when they match appropriately.

[2016-12-13 11:01] sufail commented on #994
@parrt  @danielsun1106  @sharwell

The new builds are only targetted for java >=7 ??  Cause it's not getting compiled in java 6.   The tool and antlr-4 -runtime sources have  something like this
In Grammar.java  Set<String> visited = new HashSet<>();
In  ParserRuleContext.java    this.children = new ArrayList<>();

It's saying  Diamond  operator not supported in java 6.   I had to fill in the appr

[2016-12-13 13:02] pavelvelikhov commented on #1219
Hi Terence,

  Will try this again soon!

Best regards,
Pavel

[2016-12-13 13:53] SomnathB opened #1500 "Running multiple ANTLR4 lexer/parser instances in parallel threads."
Hi Techies,
      I tried running antlr4 ( both the base version and the optimized version from tunnelvisionlabs) in parallel threads. However I dont see a difference in performance and the performance is not reducing drastically. I am running the process in the same jvm for 50 or 100 threads. I am creating separate instance of parser, lexer, visitor. However when I see the thread in visual vm it

[2016-12-13 16:07] parrt commented on #994
@sufail I have moved the project to java 7 now.

[2016-12-13 16:09] parrt commented on #1492
well, it only fails with g++-5. Are you using that locally? If not, then it's not testing like we do on travis.

[2016-12-13 16:10] parrt commented on #1492
oh wait. wrong issue.

[2016-12-13 16:30] #1299 closed

[2016-12-13 17:31] sharwell commented on #994
@sufail The reference release of ANTLR now targets Java 7+, since it makes things easier for everyone trying to work on this repository. My fork has more enterprise users that care more about compatibility, so it will continue to support Java 6 throughout the life of ANTLR 4.

[2016-12-13 17:58] marcospassos commented on #1299
@parrt could you please provide a snapshot?

[2016-12-13 18:12] parrt commented on #1299
https://oss.sonatype.org/content/repositories/snapshots/org/antlr/antlr4-runtime/4.6-SNAPSHOT/

[2016-12-13 18:16] parrt commented on #1299
@marcospassos for your other tweak, I don't think it's valid to put end error condition in consumeUntil().  It must match a valid token in correct position to switch this off.

[2016-12-13 18:21] marcospassos commented on #1299
As soon as I get home I'll provide small grammar that shows up this bug and then we discuss the best way to fix it.

[2016-12-13 18:35] parrt commented on #1429
I can't upload to pypi til it's ready. can i make a copy locally and upload for you to github?

[2016-12-13 18:37] #1496 closed

[2016-12-13 18:37] revolucion09 commented on #1429
Thats more than enough, as long as it is Python3 I can just throw the library inside the python lib

[2016-12-13 18:38] parrt commented on #1429
i don't know how to do that. can't you just clone and do setup.py install or whatever?

[2016-12-13 18:40] saifellafi commented on #1429
(sorry I used wrong account -->
Thats more than enough, as long as it is Python3 I can just throw the library inside the python lib
)

Okay, I will find the git repo and clone it, just wanted to ask you since you know the better which snapshot version you used so it matches with the Jar file you proposed :)

[2016-12-13 18:41] parrt commented on #1500
Where is it "locked"?

[2016-12-13 18:43] parrt commented on #1312
@ericvergnaud should I close this one?

[2016-12-13 18:43] #1220 closed

[2016-12-13 18:45] parrt commented on #1429
Here's the link to download https://github.com/antlr/antlr4/archive/master.zip

[2016-12-13 18:56] saifellafi commented on #1429
I am sorry. I tried but cannot proceed with building this myself. Got huge amount of maven and proxy enterprise blocks all around. The only thing I can do know is having the python3 runtime library compiled and I can throw it inside Python3/lib/site-packages

[2016-12-13 18:59] KvanTTT commented on #1220
@in-the-name-of-science if you are still interested, a new PHP grammar with python runtime is available on official repository: https://github.com/antlr/grammars-v4/tree/master/php

[2016-12-13 19:00] parrt commented on #958
I get this error

[code]

From

[code]

[2016-12-13 19:01] parrt commented on #958
@ericvergnaud unfortunately either lexer or parser will be undefined.  I think I faked it for C++ as:

[code]

I'll make the patch and add a test.

[2016-12-13 19:06] #958 closed

[2016-12-13 19:08] parrt commented on #1429
ok, we can test after release unless you can tell me how to get you the package w/o releasing it.

[2016-12-13 19:11] saifellafi commented on #1429
If you have ANTLR4 snapshot master built on your pc and are able to 'import antlr' in python3, then it means you have the library available at PYTHON_PATH/Lib/site-packages/antlr4, if you could zip such folder and upload it for me, then I can try it.

If you cannot, you can build antlr4 for python (not sure about the process: https://github.com/antlr/antlr4/blob/master/doc/building-antlr.md) but t

[2016-12-13 19:17] parrt commented on #1429
[antlr4.zip](https://github.com/antlr/antlr4/files/649874/antlr4.zip)

@saifellafi try this zip of that antlr4 dir

[2016-12-13 19:22] saifellafi commented on #1429
Tried it and it works fine. Went down from 2.45min to almost instant processing time to parse recursive test!

[2016-12-13 19:31] parrt commented on #1429
Woot! @ericvergnaud fyi

[2016-12-13 19:31] #1429 closed

[2016-12-13 19:36] #1435 closed

[2016-12-13 19:36] parrt commented on #1435
@mike-lischke note that "fixes issue #foo" doesn't seem to work. must be "fixes #foo"

[2016-12-13 19:37] parrt commented on #1492
@mike-lischke lemme know if it works for you again when you have time.

[2016-12-13 20:30] KvanTTT opened #1502 "Ability to get indented string tree"
At present time all runtimes have a method for getting result tree in lisp format `toStringTree`. It would be also good to have a method `toStringTreeIndented`. Indented output more applicable for string trees comparison (diff). See the sample output for input grammar and text below.

#### Grammar

[code]

#### Text
[code]

#### toStringTree method

[code]

#### toStringTreeIndented method

[code]

[2016-12-14 00:12] parrt commented on #1502
how about the inspect() GUI? It can show the hierarchy and the tree.

[2016-12-14 00:13] parrt commented on #1478
It is now building fine with g++ on travis so I'll close.

[2016-12-14 00:13] #1478 closed

[2016-12-14 00:18] parrt opened #1504 "`mvn -Dtest=java.* test` doesn't work anymore"

[2016-12-14 01:21] marcospassos commented on #1299
@parrt https://github.com/antlr/antlr4/commit/b11ff9636aacd028f87a15e75b3927a0b7c67d20 fixes https://github.com/marcospassos/antlr4/commit/c5c987b99f735561b13bdc4b8ea8283ddfe3b39e. Thank you very much!

[2016-12-14 01:31] janyou commented on #1482
@parrt I think Swift runtime and CSharp runtime are similar.

[2016-12-14 04:42] parrt commented on #1482
I don't. What do you mean add the run time? Do you mean add a zip file? Add a directory to a path? If you want me to distribute your target you have to tell me what to deliver.

Sent from my iPhone

[2016-12-14 04:50] gaulouis commented on #1478
According to my experience it can't build with g++ because the command line is poorly formed.

Travis run Clang ``JDK: oraclejdk7 Compiler: clang`` on Linux
@see https://travis-ci.org/antlr/antlr4/jobs/183804197
``.Compiler version is: clang version 3.4 (tags/RELEASE_34/final)``

In my opinion, to fix the g++ build tests, wee must modify the Cpp tests templates. Because it seam than Clang++ does n

[2016-12-14 07:25] ewanmellor commented on #1482
@parrt Janyou means that you'd just import the ANTLR runtime as a project inside Xcode.  In other words, a source-level import.  There's no distribution to do, per se, other than what's already on GitHub, because all the project files are already there.

It's pretty normal to do this with Swift, because there's no binary compatibility between Swift versions (yet) so there's little value in distrib

[2016-12-14 07:44] hanjoes commented on #1482
I think by offering some kind of "artifact" could make the usage easier and cleaner. And since we may not be able to assume that every user will like to statically link the parser into their product, by offering a library will result in more flexibility in the future.

[2016-12-14 08:15] ewanmellor commented on #1482
@hanjoes Distributing "artifacts" doesn't make sense for Swift (compared with Java for example) because the ABI for Swift is not stable yet, so you have to have a perfectly matching Swift standard library.

Swift doesn't have the same library system that other languages have, so the distinction between static and dynamically linking into your product doesn't have the same connotations that it does

[2016-12-14 09:00] hanjoes commented on #1482
That makes sense. I guess for swift the common practice is to distribute it with the source code so user can add the xproject into workspace and use the framework generated. Haven't played with package yet but right now the closest way seems to publish a CocoaPod but that seems require a separate repo which is basically same as source level distribution.

Sent from my iPad

[2016-12-14 09:08] mike-lischke commented on #1492
I just pulled a clean copy of the antlr repo and it still fails to install. That is quite a serious issue as I have right now to add something that probably should go in the next release. Can't we increase the Java heapspace somehow for Maven?

[2016-12-14 10:29] SomnathB commented on #1500
Got the issue finally. I looked at the thread dump and the contention is there in log4j and not antlr. I turned off logging and its resolved now.

[2016-12-14 10:29] #1500 closed

[2016-12-14 12:26] pureconfig opened #1507 "The C++ target is awesome, but a tad slower"
I moved a *very* complicated grammar from ANTLR3 to 4 about a year ago, but have not been able to use it much because I need the C++ backend. Last weekend, I figured I should give the recently merged C++ target a run for its money, and pipe everything through my tests.

And, WOW, everything works! I've stressed the generated parser several days now, without a single problem. I am so impressed.

Th

[2016-12-14 14:38] ericvergnaud commented on #1312
yes

[2016-12-14 15:26] janyou commented on #1482
@ewanmellor @hanjoes @jeffreyguenther
I'm going to be very busy the next few months. I hope you take over the support of Swift target.
If you have any questions, you can send mail to me.
(#1439 hasn't been solved yet)

[2016-12-14 15:59] #1312 closed

[2016-12-14 16:03] parrt commented on #1492
@mike-lischke ah. that looks like a config issue not memory. see http://stackoverflow.com/questions/18744351/maven-assembly-plugin-gives-java-heap-space-error

[2016-12-14 17:14] KvanTTT commented on #1502
GUI is great, but not very combortable for me. I am using my own tools and text editors.

[2016-12-14 18:35] parrt commented on #1504
user error. must be in runtime-testsuite dir.

[2016-12-14 18:35] #1504 closed

[2016-12-14 18:50] parrt commented on #1507
Well, I'll close this as we'll improve things over time. Glad it works!  donate button added: https://github.com/antlr/antlr4

[2016-12-14 18:50] #1507 closed

[2016-12-14 18:50] parrt commented on #1492
I believe @mike-lischke says all is well so I'll close.

[2016-12-14 18:50] #1492 closed

[2016-12-14 18:51] parrt commented on #1492
Need to add `export MAVEN_OPTS="-Xmx4G"` for unix.

[2016-12-14 18:56] pureconfig commented on #1507
Awesome! I hope @mike-lischke gets some of the money

[2016-12-14 19:42] hanjoes opened #1514 "4.6-SNAPSHOT jar is not working for Swift Target"
Getting exception when running:
`java -jar ~/.m2/repository/org/antlr/antlr4/4.6-SNAPSHOT/antlr4-4.6-SNAPSHOT-complete.jar -Dlanguage=Swift Grammar.g4`

[code]

Problem is the dependency in tools only provides API for compilation but no implementation.
[code]

By switching to a different JSON library will solve the issue.

[2016-12-14 19:45] hanjoes commented on #1482
I will have more time when it’s approaching to holidays.
Also submitted an issue #1514 since Swift codegen is not working right now.
Fix would be easy but we need to decide whether we want to use 3rd party library for JSON serialization.

[2016-12-14 19:54] parrt commented on #1514
@hanjoes Which lib should we include? I thought this json lib was working before?

[2016-12-14 20:07] hanjoes commented on #1514
We could instead use
[code]
Which contains API and Impl.
During summer it worked but i think @janyou had added the dependency, not sure when it's removed. And the runtime unit tests are working because we have the glassfish json as test dependency. But when you run from command-line and specify language as Swift, the tool will throw the exception above.

[2016-12-14 20:24] parrt commented on #1514
Ok, i'll add.

[2016-12-14 20:26] #1514 closed

[2016-12-14 20:28] parrt commented on #1482
@ewanmellor @hanjoes So should i change doc to say "download the repo and look in runtime/Swift"?

[2016-12-14 20:38] parrt commented on #1482
@antlr/antlr-targets Any showstoppers or can I release?

[2016-12-14 20:40] parrt commented on #1482
Currently appveyor fails on C++ but linux/mac work. says:

[code]

Any ideas?

[2016-12-14 21:25] JocaPC opened #1515 "Add support for C# target in dotnet core/nuget"
I'm trying to use Antlr4 in .Net Core (C# target) but it looks like a dead-end.

I can download jar and generate .cs parser using command line and C# target, however:

- I cannot use Antlr4 .Net runtime from nuget https://www.nuget.org/packages/Antlr4.Runtime/ becuase it is incompatible with the parser generated with this tool. **sharwell** answered in this stack overflow question that this Antlr4

[2016-12-14 21:37] hanjoes commented on #1482
@parrt, yes. we cannot bypass the source code. There are a few details people can follow to import the xcodeproj I would like to put into the doc today after work but if you are about to release it we can just do a quick tweak and more details for the doc could come later.

[2016-12-14 21:40] parrt commented on #1482
@hanjoes I'll wait til tomorrow. no sweat! I'm stuck doing admin work now for 3 hours anyway.

[2016-12-14 21:42] hanjoes commented on #1482
ok!